#address-container .middle .item {
	width: 100%;
	margin-top: 0.16rem;
}
#address-container .middle .item.default-item {
	border-top: 0.01rem solid #DFDFDF;
}
#address-container .middle .item.company-name-item {
	display: none;
}
#address-container .middle .item .half-block {
	height: 0.32rem;
	line-height: 0.32rem;
	text-align: center;
	background: #F5F5F5;
	cursor: pointer;
}
#address-container .middle .item .half-block.active {
	font-weight: 700;
	background: #000;
	color: #fff;
}
#address-container .middle .item .item-left,
#address-container .middle .item .item-right {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
}
#address-container .middle .item .item-left {
	padding-right: 0.04rem;
}
#address-container .middle .item .item-right {
	padding-left: 0.04rem;
}
#address-container .middle .item.default-item .switch-item {
	position: relative;
	padding: 0.12rem 0 0.06rem;
	line-height: 0.2rem;
}
.input-group .dialing-code {
	position: absolute;
	top: 0.01rem;
	left: 0.01rem;
	line-height: 0.38rem;
	border-right: 0.01rem solid #CCC;
	width: 0.39rem;
	color: #555;
	border-top-left-radius: 0.06rem;
	border-bottom-left-radius: 0.06rem;
	background-color: #F5F5F5;
	text-align: center;
	-webkit-box-sizing: border-box;
}
#phone-input-group input {
	padding-left: 0.48rem;
}
#phone-input-group input:focus {
	padding-left: 0.47rem;
}
#phone-input-group input:focus + .dialing-code {
	top: 0.02rem;
	left: 0.02rem;
	width: 0.38rem;
	line-height: 0.36rem;
	padding-right: 0.01rem;
}
.switch {
	position: absolute;
	width: 0.4rem;
	height: 0.2rem;
	border-radius: 1.1rem;
	top: 0.12rem;
	right: 0;
}
.switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #E5E5E5;
	transition: .4s;
	border-radius: 14px;
}
.switch .slider:before {
	position: absolute;
	content: "";
	height: 0.16rem;
	width: 0.16rem;
	left: 0.02rem;
	top: 0.02rem;
	background-color: white;
	transition: background-color .2s;
	border-radius: 50%;
}
.switch.on .slider{
	background-color: #222;
}
.switch.on .slider:before {
	right: 0.02rem;
	left: auto;
}