@charset "utf-8";
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-Thin.ttf'); /* IE9 */
    src:url('/font/Lexend-Thin.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 100;
    font-display: fallback;
}
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-Light.ttf'); /* IE9 */
    src:url('/font/Lexend-Light.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 200;
    font-display: fallback;
}
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-Regular.ttf'); /* IE9 */
    src:url('/font/Lexend-Regular.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 400;
    font-display: fallback;
}
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-Medium.ttf'); /* IE9 */
    src:url('/font/Lexend-Medium.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 500;
    font-display: fallback;
}
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-SemiBold.ttf'); /* IE9 */
    src:url('/font/Lexend-SemiBold.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 600;
    font-display: fallback;
}
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-Bold.ttf'); /* IE9 */
    src:url('/font/Lexend-Bold.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 700;
    font-display: fallback;
}
@font-face { /* font-properties */
    font-family: "Lexend";
    src:url('/font/Lexend-ExtraBold.ttf'); /* IE9 */
    src:url('/font/Lexend-ExtraBold.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-weight: 800;
    font-display: fallback;
}
.f100 {
	font-weight: 100;
}
.f200 {
	font-weight: 200;
}
.f300 {
	font-weight: 300;
}
.f400 {
	font-weight: 400;
}
.f500 {
	font-weight: 500;
}
.f600 {
	font-weight: 600;
}
.f700 {
	font-weight: 700;
}
.f800 {
	font-weight: 800;
}
.f0 {
	font-size: 0;
}
.f11 {
	font-size: .11rem
}
.f12 {
	font-size: .12rem
}
.f14 {
	font-size: .14rem
}
.f15 {
	font-size: .15rem
}
.f16 {
	font-size: .16rem
}
.f18 {
	font-size: .18rem
}
.f20 {
	font-size: .20rem
}
.f22 {
	font-size: .22rem
}
.f24 {
	font-size: .24rem
}
.f26 {
	font-size: .26rem
}
.f28 {
	font-size: .28rem
}
.f30 {
	font-size: .30rem
}
.f32 {
	font-size: .32rem
}