.spu-page .empty-info {
    padding: 168px 0;
    text-align: center;
}
.spu-page .info-content {
    padding-bottom: 30px;
}
.spu-page .info-content .img-content {
    padding-right: 20px;
}
.spu-page .info-content .img-content .img {
    border-radius: 8px;
    overflow: hidden;
}
@media screen and (max-width: 1160px){
    .spu-page .info-content .attr-content .f24 {
        font-size: 22px;
    }
}
@media screen and (max-width: 920px){
    .spu-page .info-content .attr-content .f24 {
        font-size: 20px;
    }
}
@media screen and (max-width: 680px){
    .spu-page .info-content .attr-content .f24 {
        font-size: 18px;
    }
}
.spu-page .info .stock {
    margin-right: 14px;
}
.spu-page .info .num {
    color: #999;
    font-weight: 500;
}

.price-content .price{
    font-size: 32px;
    font-weight: 600;
    color: #F24330;
}
.spu-page .price-content .original-price {
    color: #999;
    text-decoration: line-through;
    font-size: 16px;
    margin-left: 10px;
}
.spu-page .price-content .discount{
    color: #c00;
    font-size: 18px;
    margin-left: 10px;
}
.spu-page .attr-content .attr-item {
    margin-bottom: 10px;
}
.spu-page .attr-content .attr-name-content {
    position: relative;
    margin-bottom: 4px;
}
.spu-page .attr-content .attr-name {
    font-size: 18px;
    font-weight: 600;
}
.spu-page .attr-content .attv-list li {
    display: inline-block;
    padding: 5px 8px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 18px;
}
.spu-page .attr-content .attv-list.attv-img li {
    padding: 3px;
    font-size: 0;
}
.spu-page .attr-content .attv-list.attv-img li img {
    width: 60px;
}
.spu-page .attr-content .attv-list li:hover {
    border-color: #999;
}
.spu-page .attr-content .attv-list li.selected {
    border-color: #000;
}
.spu-page .attr-content .attv-list li.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border: 2px dotted #ddd;
}
.spu-page .attr-content .bounce {
    animation: bounce 300ms 3;
}
@keyframes bounce {
    0% {
        transform: translateX(-5px);
    }
    25% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}
.spu-page .qty-content {
    padding-top: 8px;
}
.spu-page .qty-content .iconfont {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}
.spu-page .qty-content .iconfont:hover {
    border: 1px solid #000;
}
.spu-page .qty-content .iconfont.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.spu-page .qty-content input {
    border: none;
    margin: 0 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    outline-color: #999;
}
.spu-page a:hover {
    text-decoration: underline;
}
.spu-page .small-image.padding {
    padding: 0 24px;
}
.spu-page .small-image .movement {
    position: absolute;
    top: 0;
    width: 24px;
    height: 100%;
    cursor: pointer;
    background-color: #f5f5f5;
}
.spu-page .small-image {
    margin-top: 10px;
    overflow: hidden;
}
.spu-page .image-list {
    font-size: 0;
    white-space: nowrap;
    position: relative;
}
.spu-page .image-list li {
    width: calc((100% - 40px) / 5);
    margin-right: 10px;
    border: 2px solid #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
}
.spu-page .image-list li.selected {
    border-color: #000;
}
.spu-page .small-image .left-movement {
    left: 0;
}
.spu-page .small-image .right-movement {
    right: 0;
}
.spu-page .small-image .movement .iconfont {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    left: 2px;
}
.spu-page .small-image .movement.disabled {
    cursor: not-allowed;
}
.spu-page .error-tips {
    background: #EB2027;
    color: #fff;
    font-weight: 700;
    padding: 2px 12px;
    position: absolute;
    top: 25px;
}
.spu-page .error-tips .triangle {
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #EB2027;
    position: absolute;
    top: -7px;
}
.spu-page .btn-content {
    width: calc(100% - 300px);
    padding-right: 34px;
}
.spu-page .btn-content .btn {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
}
.spu-page .btn-like {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 22px;
    margin-left: 44px;
}