#left-filter {
	width: 338px;
    padding: 6px;
    overflow: hidden;
    float: left;
}
#left-filter .content {
    box-shadow: 0 3px 6px 0 rgb(34 25 36 / 20%);
    padding: 0 10px;
    background-color: #fff;
}
#left-filter .content.fixed {
    position: fixed;
    z-index: 99;
    width: 326px;
    top: 60px;
    left: 6px;
    max-height: calc(100% - 69px);
    overflow-y: auto;
}
#left-filter .item {
	border-bottom: 1px solid #E5E5E5;
}
#left-filter .item:last-child {
	border-bottom: 0;
}
#left-filter .item .title {
	height: 52px;
    line-height: 52px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
#left-filter .item .title-content .iconfont {
	position: absolute;
	top: 18px;
	right: 9px;
	font-size: 16px;
}
#left-filter .item ul {
	max-height: 0;
    overflow-y: hidden;
    padding-left: 4px;
    transition: max-height 300ms;
    transition-timing-function: cubic-bezier(0.09, 1.03, 0.57, 0.97);
}
#left-filter .item ul.open {
	max-height: 400px;
    overflow-y: auto;
}
#left-filter .item ul>li {
	position: relative;
}
#left-filter .item ul>li .iconfont{
	font-size: 16px;
	position: absolute;
	font-weight: 500;
	top: 15px;
	left: 12px;
}
#left-filter .item ul>li a {
	display: block;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    padding-left: 40px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 500;
}
#right-list {
    float: left;
    width: calc(100% - 338px);;
}
#right-list .top-content {
    padding: 16px 10px 16px 10px;
    width: 100%;
}
#right-list .top-content .result {
    line-height: 40px;
    font-size: 16px;
}
#right-list .top-content .sortby {
    padding: 0 32px 0 16px;
    height: 40px;
    min-width: 188px;
    float: right;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    border: 2px solid #777279;
}
#right-list .top-content .show-sort .name {
    line-height: 36px;
    font-size: 16px;
}
#right-list .top-content .show-sort .iconfont {
    position: absolute;
    font-size: 16px;
    top: 8px;
    right: 8px;
}
#right-list .sort-list {
    display: none;
    position: absolute;
    top: 46px;
    right: 0;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
    padding: 12px 10px;
    min-width: 238px;
    z-index: 2;
}
#right-list .sort-list li {
    border-radius:4px;
    position: relative;
}
#right-list .sort-list li:hover,
#right-list .sort-list li.active {
    background-color: #D1D1D6;
}
#right-list .sort-list li a{
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 36px;
    position: relative;
}
#right-list .sort-list li .iconfont{
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
}
#right-list .product-list li {
    display: inline-block;
    border-radius: 8px;
    width: 25%;
    overflow: hidden;
    position: relative;
    padding-bottom: 8px;
    transition: .2s ease-in-out;
    vertical-align: top;
}
#right-list .product-list li .name {
    margin-top: 12px;
    font-size: 16px;
    min-height: 60px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#right-list .product-list li:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}
#right-list .product-list li:hover .quickview {
    display: block;
}
#right-list .product-list li a {
    display: block;
    padding: 8px;
}
#right-list .product-list li .price {
    font-size: 18px;
    color: #E64545;
    font-weight: 500;
}
#right-list .product-list li .original-price {
    margin-left: 6px;
    color: #999999;
    font-size: 14px;
    text-decoration: line-through;
}
#right-list .product-list li .image-content {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 0;
    text-align: center;
    padding-bottom: 100%;
}
#right-list .product-list li .like {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    padding-top: 1px;
    line-height: 36px;
    text-align: center;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 25 36 / 20%);
}
@media (max-width: 1100px) {
    #right-list .product-list li {
        width: calc(100%/3);
    }
}
@media (max-width: 900px) {
    #right-list .product-list li {
        width: 50%;
    }
}
@media (max-width: 700px) {
    #right-list .product-list li {
        width: 100%;
    }
}
#right-list .product-list li .label {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    overflow: hidden;
}
#right-list .product-list li .label .item {
    display: inline-block;
    padding: 4px 5px;
    font-size: 0;
    text-align: center;
}
#right-list .product-list li .label .item span {
    font-size: 12px;
}
#right-list .product-list li .label .pdt-discount {
    background-color: #333;
    color: #fff;
}
#right-list .product-list li .quickview {
    display: none;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 25 36 / 20%);
    padding: 12px 16px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
}
#right-list .product-list li .quickview:hover {
    border-color: #333;
    color: #333;
}