.icon {
    display: inline-block;
    vertical-align: top;
    background-size: 100% 100% !important;
}
.icon12 {
    width: 0.12rem;
    height: 0.12rem;
}
.icon16 {
    width: 0.16rem;
    height: 0.16rem;
}
.icon18 {
    width: 0.18rem;
    height: 0.18rem;
}
.icon20 {
    width: 0.2rem;
    height: 0.2rem;
}
.icon24 {
    width: 0.24rem;
    height: 0.24rem;
}
.icon-flag {
    display: inline-block;
    vertical-align: top;
    width: 0.24rem;
    height: 0.16rem;
    background-size:0.24rem 2.26rem;
    background-repeat:no-repeat;
    background-image:url('/img/mobile/icon/currency.png');
}
.icon-usd{
    background-position: left 0 top 0;
}
.icon-eur{
    background-position: left 0 top -0.30rem;
}
.icon-cad{
    background-position: left 0 top -0.60rem;
}
.icon-gbp{
    background-position: left 0 top -0.90rem;
}
.icon-aud{
    background-position: left 0 top -1.20rem;
}
.icon-nzd{
    background-position: left 0 top -1.50rem;
}
.icon-mxn{
    background-position: left 0 top -1.80rem;
}
.icon-jpy{
    background-position: left 0 top -2.10rem;
}
.icon-gift {
    background: url(/img/mobile/icon/gift.svg) no-repeat;
}
.icon-eye-open {
    background: url(/img/mobile/icon/eye-open.svg) no-repeat;
}
.icon-eye-close {
    background: url(/img/mobile/icon/eye-close.svg) no-repeat;
}
.icon-remove {
    background: url(/img/mobile/icon/remove.svg) no-repeat;
}
.icon-meau {
    background: url(/img/mobile/icon/meau.svg) no-repeat;
}
.icon-user {
    background: url(/img/mobile/icon/user.svg) no-repeat;
}
.icon-cart {
    background: url(/img/mobile/icon/cart.svg) no-repeat;
}
.icon-cart-fill {
    background: url(/img/mobile/icon/cart-fill.svg) no-repeat;
}
.icon-close {
    background: url(/img/mobile/icon/close.svg) no-repeat;
}
.icon-edit {
    background: url(/img/mobile/icon/edit.svg) no-repeat;
}