/*公共样式部分*/
html {
	font-family: Segoe UI, sans-serif;
    scroll-behavior: smooth
}
html,body,a,p,span,th,td,li,input,textarea{
    font-size: 0.12rem;
    color: #222;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}
ol,li {
    list-style: none outside none
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    width: 100%;
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled]{
    cursor: not-allowed;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0
}
input,textarea {
    width: 100%;
    outline: none;
    font-size: 0.14rem;
    padding: 0 0.16rem;
}
input::placeholder,textarea::placeholder {
    color: #ccc;
}