/.idea
/config/baidu.php
/config/domain.php
/config/database.php
/config/redis.php
/config/socket.php
/config/task.php
/config/token.php
/vendor
/runtime/*
/storage/*
/composer.lock
/template/*/static
/template/*/sitemap
/template/*/cache