#login-page {
	padding: 0.2rem;
	min-height: calc(100vh - 0.76rem);
}
#login-page .nav {
	margin-top: 0.28rem;
}
#login-page .nav .nav-item {
	display: inline-block;
	width: 50%;
	text-align: center;
}
#login-page .nav .nav-item span	{
	display: inline-block;
	font-size: 0.18rem;
	font-weight: 700;
	line-height: 0.3rem;
}
#login-page .nav .nav-item.active span {
	border-bottom: 0.02rem solid #111;
}
#login-page .content {
	margin-top: 0.48rem;
}
#login-page .email-item {
	margin-bottom: 0.24rem;
}

#login-page .forget-content {
	text-align: right;
	margin: 0.02rem 0 0.12rem 0;
}
#login-page .forget-content .tips-title {
	display: inline-block;
	height: 0.3rem;
	line-height: 0.3rem;
	color: #999;
}
#login-page .password-box {
	display: none;
}
#login-page .footer .item .btn:last-child {
	margin-top: 0.1rem;
}

#login-page .tips{
	display: none; 
    position: absolute;
    width: 3rem;
    border: 0.01rem solid #e5e5e5;
    background: #FFFFFF;
    padding: 0.05rem 0.1rem;
    border-radius: 0.05rem;
    z-index: 99;
    bottom: 0.24rem;
    right: 0;
}
#login-page .tips .mask {
	display: block;
	opacity: 0;
}
#login-page .tips .border-up-empty{
    width: 0;
    height: 0;
    border-top: 0.1rem solid #E5E5E5;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    position: absolute;
    bottom: -0.1rem;
    right: 0.06rem;
}
#login-page .tips .border-up-empty span{
    display: block;
    width: 0;
    height: 0;
    border-top: 0.1rem solid #fff;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    position: absolute;
    bottom: 0.02rem;
    left: -0.1rem;
}
#sign-box {
	display: none;
}
#sign-box .git-box {
	margin: 0.12rem 0 0.24rem 0;
	display: table;
	width: 100%;
}
#sign-box .git-box span {
	display: inline-block;
	vertical-align: top;
	line-height: 0.2rem;
	margin-left: 0.1rem;
}
#sign-box .join-tips {
	margin-top: 0.1rem;
	text-align: center;
}
#sign-box .join-tips a {
	color: #999;
}
#sign-box .join-tips a>span {
	color: #333;
	text-decoration: underline;
}