#crawler-page {
    position: fixed;
    right: 40px;
    top: 5px;
    width: auto;
    max-width: 480px;
    background-color: white;
    border: 2px solid #321679;
    box-shadow: -6px 7px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 4px;
    z-index: 999999999;
    box-sizing: border-box;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}
#crawler-page * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#crawler-page .tc {
    text-align: center;
}
#crawler-page .w100 {
    width: 100%;
}
#crawler-page .clear {
    clear: both;
}
#crawler-page .flex {
    display: flex;
}
#crawler-page .flex1 {
    flex: 1;
}
#crawler-page .left {
	float: left;
}
#crawler-page .right {
	float: right;
}
#crawler-page .hide {
	display: none;
}
#crawler-page.open {
	width: 480px;
}
#crawler-page .button-content {
	position: relative;
	border-bottom: 1px solid #321679;
	padding-bottom: 4px;
}
#crawler-page.open .button-content .hide {
	display: inline-block;
}
#crawler-page button {
	color: #fff;
	background: #321679;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 28px;
}
#crawler-page .error-msg {
	color: red;
	text-align: center;
	display: none;
}
#crawler-page.open .error-msg {
	display: block;
}




#item-content {
	display: none;
}
#crawler-page .userinfo-content .name-content {
	max-width: 120px;
}
#crawler-page .userinfo-content .name-content .item {
	margin-top: 5px;
}
#crawler-page .mainContent {
    overflow: auto;
    margin-top: 5px;
}
#crawler_form {
	max-height: calc(100vh - 110px);
	overflow-y: auto;
}
#crawler_form {
	margin-top: 3px;
	overflow-y: auto;
	SCROLLBAR-ARROW-COLOR: #2c5784;
    SCROLLBAR-FACE-COLOR: #D1E2EF;
    SCROLLBAR-DARKSHADOW-COLOR: #A8C7DD;
    SCROLLBAR-BASE-COLOR: #000000;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #e9f1f7;
    SCROLLBAR-3DLIGHT-COLOR: #bcd4e5;
}
#crawler_form::-webkit-scrollbar{width:7px;height:10px;}
#crawler_form::-webkit-scrollbar-button:vertical{display:none}
#crawler_form::-webkit-scrollbar-track:vertical{background-color:black}
#crawler_form::-webkit-scrollbar-track-piece{background:#EBEFF8}
#crawler_form::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:3px}
#crawler_form::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}
#crawler_form::-webkit-scrollbar-corner:vertical{background-color:#535353}
#crawler_form::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}
#crawler_form::-webkit-scrollbar-button:horizontal{display:none}
#crawler_form::-webkit-scrollbar-track:horizontal{background-color:black}
#crawler_form::-webkit-scrollbar-track-piece{background:#EBEFF8}
#crawler_form::-webkit-scrollbar-thumb:horizontal{background-color:#8E8E8E;border-radius:3px}
#crawler_form::-webkit-scrollbar-thumb:horizontal:hover{background-color:#3B3B3B}
#crawler_form::-webkit-scrollbar-corner:horizontal{background-color:#535353}
#crawler_form::-webkit-scrollbar-resizer:horizontal{background-color:#FF6E00}
#crawler-page .productAttLine .label, 
#crawler-page .productAttLine .fill_in {
    float: left;
    width: 60px;
    line-height: 30px;
}
#crawler-page .productAttLine .label {
	text-align: right;
	padding-right: 5px;
	overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#crawler-page .productAttLine .fill_in {
	width: calc(100% - 65px);
}
#crawler-page input {
    width: 100%;
    padding: 0 3px;
}
#crawler-page select {
	width: 100%;
	height: 22px;
	line-height: 22px;
}
#crawler-page .productAttLine .sizechat {
    width: 205px;
    height: 40px;
}
#crawler-page .productAttLine .fill_in input.theprice {
    width: 80px;
}
#crawler-page .productAttLine .fill_in input.thediscount {
    width: 40px;
}
#crawler-page .postProduct {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    left: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 1px #666;
    background: linear-gradient(#755ABB,#321679);
}
#crawler-page .picTitle {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 6px;
}
#crawler-page .productMainPic .pdtPicHere .imgList {
    float: left;
    width: calc(25% - 4px);
    margin: 2px;
}
#crawler-page .productMainPic .pdtPicHere .imgList:hover{
	box-shadow: 0px 0px 3px red;
}
#crawler-page .productAttLine .price-stock {
	margin-top: 5px;
}
#crawler-page .productAttLine .price-stock input {
	width: 55px;
}
#crawler-page .productAttLine .sku-item {
	padding: 6px 10px 6px 0;
	border-bottom: 1px solid #321679;
	position: relative;
	overflow: hidden;
}
#crawler-page .productAttLine .sku-item .sku_img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}
#crawler-page .productAttLine .sku-item .sku-attr div {
	margin-right: 5px;
	margin-bottom: 3px;
}
#crawler-page .productAttLine .sku-item .sku-attr div>input {
	width: 100%;
}
#crawler-page .productAttLine .sku-item img {
	max-width: 100%;
	max-height: 100%;
}
#crawler-page .cancel-btn {
	background: #e5e5e5;
	font-size: 12px;
	width: 12px;
	height: 12px;
	line-height: 10px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
#pdt_des_text .sku-attr {
	margin-bottom: 8px;
	display: flex;
	position: relative;
}
#pdt_des_text .sku-attr input{width: 45%;}
#crawler-page .attr-content {
	width: 200px;
	float: left;
	padding-right: 12px;
}
#crawler-page .attr-content input {
	width: 60px;
}
#crawler-page .attr-content input.value {
	margin-left: 20px;
}
#crawler-page .reload-attr-content {
	width: 100px;
	float: left;
}
#crawler-page .attr-content input,
#crawler-page .reload-attr-content input {
	margin-bottom: 5px;
}
#post-product-btn {
    width: 100% !important;
    margin-top: 8px;
}