#crawler-page {
    position: fixed;
    right: 40px;
    top: 5px;
    width: auto;
    max-width: 480px;
    background-color: white;
    border: 2px solid #321679;
    box-shadow: -6px 7px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 4px;
    z-index: 999999999;
    box-sizing: border-box;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}
#crawler-page * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#crawler-page .tc {
    text-align: center;
}
#crawler-page .w100 {
    width: 100%;
}
#crawler-page .clear {
    clear: both;
}
#crawler-page .flex {
    display: flex;
}
#crawler-page .flex1 {
    flex: 1;
}
#crawler-page .left {
	float: left;
}
#crawler-page .right {
	float: right;
}
#crawler-page .hide {
	display: none;
}
#crawler-page.open {
	width: 480px;
}
#crawler-page .button-content {
	position: relative;
}
#crawler-page.open .button-content .hide {
	display: inline-block;
}
#crawler-page button {
	color: #fff;
	background: #321679;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 28px;
    font-size: 12px;
    border-radius: 4px;
}
#crawler-page button.btn1 {
    height: auto;
    width: auto;
    padding: 2px 3px;
}
#crawler-page .error-msg {
	color: red;
	text-align: center;
	display: none;
    position: absolute;
    top: 10px;
    left: 100px;
}
#crawler-page.open .error-msg {
	display: block;
}
#item-content {
	display: none;
    border-top: 1px solid #321679;
    margin-top: 4px;
    padding-bottom: 48px;
}
#crawler-page .userinfo-content .name-content {
	max-width: 120px;
}
#crawler-page .userinfo-content .name-content .item {
	margin-top: 5px;
}
#crawler-page .mainContent {
    overflow: auto;
    margin-top: 5px;
}
#crawler_form {
	max-height: calc(100vh - 110px);
	overflow-y: auto;
}
#crawler_form {
	margin-top: 3px;
	overflow-y: auto;
	SCROLLBAR-ARROW-COLOR: #2c5784;
    SCROLLBAR-FACE-COLOR: #D1E2EF;
    SCROLLBAR-DARKSHADOW-COLOR: #A8C7DD;
    SCROLLBAR-BASE-COLOR: #000000;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #e9f1f7;
    SCROLLBAR-3DLIGHT-COLOR: #bcd4e5;
}
#crawler_form::-webkit-scrollbar{width:7px;height:10px;}
#crawler_form::-webkit-scrollbar-button:vertical{display:none}
#crawler_form::-webkit-scrollbar-track:vertical{background-color:black}
#crawler_form::-webkit-scrollbar-track-piece{background:#EBEFF8}
#crawler_form::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:3px}
#crawler_form::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}
#crawler_form::-webkit-scrollbar-corner:vertical{background-color:#535353}
#crawler_form::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}
#crawler_form::-webkit-scrollbar-button:horizontal{display:none}
#crawler_form::-webkit-scrollbar-track:horizontal{background-color:black}
#crawler_form::-webkit-scrollbar-track-piece{background:#EBEFF8}
#crawler_form::-webkit-scrollbar-thumb:horizontal{background-color:#8E8E8E;border-radius:3px}
#crawler_form::-webkit-scrollbar-thumb:horizontal:hover{background-color:#3B3B3B}
#crawler_form::-webkit-scrollbar-corner:horizontal{background-color:#535353}
#crawler_form::-webkit-scrollbar-resizer:horizontal{background-color:#FF6E00}
#crawler-page .productAttLine table {
    
}
#crawler-page .productAttLine .label, 
#crawler-page .productAttLine .fill_in {
    float: left;
    width: 60px;
    line-height: 30px;
}
#crawler-page .productAttLine .label {
	text-align: right;
	padding-right: 5px;
	overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#crawler-page .productAttLine .fill_in {
	width: calc(100% - 65px);
}
#crawler-page input {
    width: 100%;
    padding: 0 3px;
}
#crawler-page select {
	width: 100%;
	height: 22px;
	line-height: 22px;
}
#crawler-page .mt12 {
    margin-top: 12px;
}
#crawler-page .productMainPic .pdtPicHere .imgList {
    float: left;
    width: calc(25% - 4px);
    margin: 2px;
}
#crawler-page #post-product-btn {
    position: absolute;
    bottom: 8px;
    width: calc(100% - 8px);
    margin-top: 8px;
    height: 32px;
}
#crawler-page .item-block {
    padding: 8px;
    border: 1px solid #321679;
    border-radius: 4px;
    margin-top: 12px;
}
#crawler-page .title {
    font-weight: bold;
    margin-bottom: 5px;
}
#crawler-page .attr-item {
    margin-bottom: 10px;
}
#crawler-page .attr-item:last-child {
    margin-bottom: 0;
}
#crawler-page .item-block .value {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#crawler-page .sku-list table {
    border: 1px solid #321679;
}
#crawler-page .sku-list table th {
    padding: 5px 8px;
    font-weight: bold;
}
#crawler-page .sku-list table td {
    padding: 5px 8px;
}
#crawler-page .sku-list table tr {
    border-bottom: 1px solid #321679;
}