#crawler_page{
	position:fixed;
	right:40px;
	top:5px;
	width:auto;
	min-width: 54px;
	min-height: 42px;
	max-width: 380px;
	background-color:white;
	border:3px solid #321679;
	box-shadow: -6px 7px 20px rgba(0,0,0,0.4);
	border-radius:5px;
	padding:4px;
	z-index: 999999999;
	box-sizing: border-box;
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}
#crawler_page * {
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#crawler_page .tc {
	text-align: center;
}
#crawler_page .w100 {
	width: 100%;
}
#crawler_page .clear {
	clear: both;
}
#crawler_page .flex {
	display: flex;
}
#crawler_page .flex1 {
	flex: 1;
}
#crawler_page .top-content {
	display: flex;
	padding-bottom: 3px;
}
#crawler_page .crawler-button {
	position: relative;
	width: 380px;
	border-bottom: 1px solid #321679;
	padding-bottom: 4px;
	display: none;
}
#crawler_page button {
	color: #fff;
	background: #321679;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 28px;
}
#crawler-show-btn {
	position: absolute;
	right: 4px;
	top: 4px;
}
#item-content {
	display: none;
}
#crawler_page .error-msg {
	color: red;
	text-align: center;
}
#crawler_page .userinfo-content .name-content {
	max-width: 120px;
}
#crawler_page .userinfo-content .name-content .item {
	margin-top: 5px;
}
#crawler_page .mainContent {
    overflow: auto;
    margin-top: 5px;
}
#crawler_form {
	max-height: calc(100vh - 110px);
	overflow-y: auto;
}
#crawler_form {
	margin-top: 3px;
	overflow-y: auto;
	SCROLLBAR-ARROW-COLOR: #2c5784;
    SCROLLBAR-FACE-COLOR: #D1E2EF;
    SCROLLBAR-DARKSHADOW-COLOR: #A8C7DD;
    SCROLLBAR-BASE-COLOR: #000000;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #e9f1f7;
    SCROLLBAR-3DLIGHT-COLOR: #bcd4e5;
}
#crawler_form::-webkit-scrollbar{width:7px;height:10px;}
#crawler_form::-webkit-scrollbar-button:vertical{display:none}
#crawler_form::-webkit-scrollbar-track:vertical{background-color:black}
#crawler_form::-webkit-scrollbar-track-piece{background:#EBEFF8}
#crawler_form::-webkit-scrollbar-thumb:vertical{background-color:#8E8E8E;border-radius:3px}
#crawler_form::-webkit-scrollbar-thumb:vertical:hover{background-color:#3B3B3B}
#crawler_form::-webkit-scrollbar-corner:vertical{background-color:#535353}
#crawler_form::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00}
#crawler_form::-webkit-scrollbar-button:horizontal{display:none}
#crawler_form::-webkit-scrollbar-track:horizontal{background-color:black}
#crawler_form::-webkit-scrollbar-track-piece{background:#EBEFF8}
#crawler_form::-webkit-scrollbar-thumb:horizontal{background-color:#8E8E8E;border-radius:3px}
#crawler_form::-webkit-scrollbar-thumb:horizontal:hover{background-color:#3B3B3B}
#crawler_form::-webkit-scrollbar-corner:horizontal{background-color:#535353}
#crawler_form::-webkit-scrollbar-resizer:horizontal{background-color:#FF6E00}
#crawler_page .productAttLine .label, 
#crawler_page .productAttLine .fill_in {
    float: left;
    width: 60px;
    line-height: 30px;
}
#crawler_page .productAttLine .label {
	text-align: right;
	padding-right: 5px;
	overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#crawler_page .productAttLine .fill_in {
	width: calc(100% - 65px);
}
#crawler_page input {
    width: 100%;
    padding: 0 3px;
}
#crawler_page select {
	width: 100%;
	height: 22px;
	line-height: 22px;
}
#crawler_page .productAttLine .sizechat {
    width: 205px;
    height: 40px;
}
#crawler_page .productAttLine .fill_in input.theprice {
    width: 80px;
}
#crawler_page .productAttLine .fill_in input.thediscount {
    width: 40px;
}
#crawler_page .postProduct {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    left: 2px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 1px #666;
    background: linear-gradient(#755ABB,#321679);
}
#crawler_page .picTitle {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 6px;
}
#crawler_page .productMainPic .pdtPicHere {
	column-gap: 2px;
    column-count: 2;
}
#crawler_page .productMainPic .pdtPicHere .imgList {
    float: left;
    width: calc(50% - 4px);
    margin: 2px;
}
#crawler_page .productMainPic .pdtPicHere .imgList:hover{
	box-shadow: 0px 0px 3px red;
}
#crawler_page .productAttLine .price-stock {
	margin-top: 5px;
}
#crawler_page .productAttLine .price-stock input {
	width: 55px;
}
#crawler_page .productAttLine .sku-item {
	padding: 6px 10px 6px 0;
	border-bottom: 1px solid #321679;
	position: relative;
	overflow: hidden;
}
#crawler_page .productAttLine .sku-item .sku_img {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}
#crawler_page .productAttLine .sku-item .sku-attr div {
	margin-right: 5px;
	margin-bottom: 3px;
}
#crawler_page .productAttLine .sku-item .sku-attr div>input {
	width: 100%;
}
#crawler_page .productAttLine .sku-item img {
	max-width: 100%;
	max-height: 100%;
}
#crawler_page .cancel-btn {
	background: #e5e5e5;
	font-size: 12px;
	width: 12px;
	height: 12px;
	line-height: 10px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
#pdt_des_text .sku-attr {
	margin-bottom: 8px;
	display: flex;
	position: relative;
}
#pdt_des_text .sku-attr input{width: 45%;}
#crawler_page .attr-content {
	width: calc(100% - 100px);
	float: left;
}
#crawler_page .reload-attr-content {
	width: 100px;
	float: left;
}