.login-content {
	width: 960px;
	height: 470px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 4px 4px 0px 0px;
	background-color: #fff;
	overflow: hidden;
}
@media screen and (max-width: 960px) {
	.login-content{
		width: 100%;
	}
} 
.login-content .title-content {
	height: 64px;
	line-height: 64px;
	background-color: #F5F5F5;
	text-align: center;
	font-size: 24px;
}
.login-content .signin-content,
.login-content .register-content {
	width: 100%;
	height: 406px;
	padding: 25px 10px;
	text-align: center;
}
.login-content .signin-content {
	border-right: 1px solid #CCCCCC;
}
.login-content .title {
	margin-bottom: 20px;
}
.login-content form {
	width: 300px;
	margin: 0 auto;
}
.login-content .input-tips {
	text-align: left;
    margin-bottom: 2px;
}
.login-content .bottom-btn {
	margin-bottom: 20px;
}
.login-content .change-login-type {
	color: #666666;
	text-align: left;
	text-decoration: underline;
	margin-bottom: 20px;
	cursor: pointer;
}
.login-content .input {
	border: 2px solid #333;
}
.help .help-tips {
	display: none;
    position: absolute;
    left: 0;
    top: -112px;
    width: 230px;
    border: 1px solid #e5e5e5;
    background: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99;
    text-align: left;
    color: #666666;
}
.help .help-tips .border-up-empty {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #CCCCCC;
    position: absolute;
    bottom: -10px;
    left: 3px;
}
.login-content .agreement span {
	cursor: pointer;
}
.login-content .agreement .iconfont {
	position: relative;
	top: 2px;
}
.verification-content .verification .input {
	width: calc(100% - 70px);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}
.verification-content .verification .btn {
	width: 70px;
	float: right;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#login-page .error .input {
	border-color: #EB2027;
	background: rgb(235,32,39,0.1);
}
#login-page .message-tips {
	font-weight: 600;
	margin-top: 2px;
	text-align: left;
	color: #EB2027;
}