* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font: 400 0.12rem 'Open Sans';
	color: #333;
	background-color: #f5f5f5;
	width: 100%;
	min-height: 100vh;
}
button,input{
	font: 400 0.12rem 'Open Sans';
}
ol,ul,li {
	list-style: none
}
img {
	max-width: 100%;
	max-height: 100%
}
button,input,select,textarea {
	font-size: 100%;
	-webkit-appearance: none;
	border: none;
}
button,input,select,textarea:focus {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}
input[type=text]::-ms-clear,input[type=password]::-ms-reveal,input[type=input]::-ms-clear {
	display: none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}
a:link,a:active,a:visited,a:hover {
	text-decoration: none;
}
a {
	outline: none;
	color: #333;
	text-decoration-line: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.layer {
	padding: 0 0.08rem
}
.left {
	float: left
}
.right {
	float: right
}
.table {
	display: table;
	height: 100%
}
.tcell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%
}
.block {
	display: block
}
.input {
	height: 100%;
	width: 100%;
	border: none;
	padding: 0 0.08rem;
	font-size: 0.14rem;
	color: #666666;
}
.center {
	margin: 0 auto
}
.w100 {
	width: 100%
}
.clear {
	clear: both
}
.e1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.relative {
	position: relative;
}
.bg-f {
	background-color: #ffffff;
}
.bg-f5 {
	background-color: #f5f5f5;
}
.cf {
	color: #FFFFFF;
}
.c6 {
	color: #666666;
}
.c40 {
	color: #404040;
}
.btn {
	height: 0.4rem;
	font-weight: 700;
	white-space: nowrap;
}
.btn[disabled] {
	background-color: #666666;
}
.hide,.hidden {
	display: none;
}
.btn-black {
	background-color: #404040;
	color: #ffffff;
}
.flex {
	display: flex;
}
.cover {
	width: 100%;
	height: 0.4rem;
	background: #F5F5F5;
}
#pb-footbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
	border-top: 1px solid #E7E7E7;
	z-index: 1001
}
#pb-footbar .tab {
	width: 20%;
	display: block;
	text-align: center;
	float: left;
	color: #5d656b;
	padding-top: 0.01rem
}
#pb-footbar .tab.active {
	font-weight: 700
}
#pb-footbar .tab .iconfont {
	font-size: 0.22rem
}
#pb-footbar .tab .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
/*loading modal start*/
.m-modal {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6000;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.mask {
	z-index: 4000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(34,34,34,.2);
}
.loading-block {
	font-size: 0;
	text-align: center;
	position: absolute;
	top: calc(50% - 0.06rem);
	left: calc(50% - 0.26rem);
}
.loading-block>div:nth-child(1) {
	-webkit-animation-delay: -.2s;
	animation-delay: -.2s
}
.loading-block>div:nth-child(2) {
	-webkit-animation-delay: -.1s;
	animation-delay: -.1s
}
.loading-block>div:nth-child(3) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	margin-right: 0;
}
@-webkit-keyframes loading {
	0%,100%,60% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
	30% {
		-webkit-transform: scale(.01);
		transform: scale(.01);
		opacity: .1
	}
}
@keyframes loading {
	0%,100%,60% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
	30% {
		-webkit-transform: scale(.01);
		transform: scale(.01);
		opacity: .1
	}
}
.loading-block>div {
	background-color: #222;
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.08rem;
	vertical-align: middle;
	-webkit-animation: loading 1s ease infinite;
	animation: loading 1s ease infinite
}
/*loading modal end*/
/*tips*/
#message-tips {
	padding: 0.24rem 0.3rem 0.24rem 0.16rem;
	position: fixed;
	top: 0.16rem;
	left: 0.16rem;
	color: #fff;
	width: calc(100% - 0.32rem);
}
#message-tips.error {
	background-color: #FF898A;
}
#message-tips.success {
	background-color: #74CAC9;
}
#message-tips .icon-content {
	width: 0.4rem;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 0.28rem;
}
#message-tips .text-content {
	width: calc(100% - 0.4rem);
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 0.14rem;
}
#message-tips .icon-close {
	font-size: 0.16rem;
	position: absolute;
	top: 0.12rem;
	right: 0.12rem;
	font-weight: 600;
}