@charset 'utf-8';
@font-face {
	font-family:'Open Sans';src:url('/font/OpenSans.ttf');src:url('/font/OpenSans.eot#iefix') format('embedded-opentype'),url('/font/OpenSans.woff') format('woff'),url('/font/OpenSans.ttf') format('truetype'),url('/font/OpenSans.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-semiBold';src:url('/font/OpenSans-SemiBold.ttf');src:url('/font/OpenSans-SemiBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-SemiBold.woff') format('woff'),url('/font/OpenSans-SemiBold.ttf') format('truetype'),url('/font/OpenSans-SemiBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-extraBold';src:url('/font/OpenSans-ExtraBold.ttf');src:url('/font/OpenSans-ExtraBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-ExtraBold.woff') format('woff'),url('/font/OpenSans-ExtraBold.ttf') format('truetype'),url('/font/OpenSans-ExtraBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-Bold';src:url('/font/OpenSans-Bold.ttf');src:url('/font/OpenSans-Bold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-Bold.woff') format('woff'),url('/font/OpenSans-Bold.ttf') format('truetype'),url('/font/OpenSans-Bold.svg#iconfont') format('svg')
}
.f600 {
	font-family: 'Open Sans-semiBold'
}
.f700 {
	font-family: 'Open Sans-Bold'
}
.f800 {
	font-family: 'Open Sans-extraBold'
}
.f0 {
	font-size: 0;
}
.f11 {
	font-size: .11rem
}
.f12 {
	font-size: .12rem
}
.f14 {
	font-size: .14rem
}
.f15 {
	font-size: .15rem
}
.f16 {
	font-size: .16rem
}
.f18 {
	font-size: .18rem
}
.f20 {
	font-size: .20rem
}
.f22 {
	font-size: .22rem
}
.f24 {
	font-size: .24rem
}
.f26 {
	font-size: .26rem
}
.f28 {
	font-size: .28rem
}
.f30 {
	font-size: .30rem
}
.f32 {
	font-size: .32rem
}