#address-book {
	z-index: 106;
}
#address-book .dialog {
	height: calc(100% - 0.32rem);
	bottom: 0.16rem;
}
#address-book .dialog .content .item {
	position: relative;
}
#address-book .dialog .content .item .error-tips {
	top: 0.23rem;
}
#address-book .dialog .footer .btn {
	width: 1.2rem;
}
#address-book .dialog .content .title .cred {
	position: relative;
	top: 0.04rem;
}
#address-book .dialog .content .input,
#address-book .dialog .content .selection {
	height: 0.4rem;
	border: 0.02rem solid #fff;
	background: #fff;
}
#address-book .dialog .content .error .selection,
#address-book .dialog .content .error .input {
	border-color: #EB2027;
}