@font-face{font-family:"clothes-iconfont";src:url('/font/clothes-iconfont.eot');src:url('/font/clothes-iconfont.eot#iefix') format('embedded-opentype'),url('/font/clothes-iconfont.woff') format('woff'),url('/font/clothes-iconfont.ttf') format('truetype'),url('/font/clothes-iconfont.svg#iconfont') format('svg');font-display: fallback;}
.clothes-iconfont {
	font-family: "clothes-iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.clothes-iconfont.f600 {
	font-weight: 600;
}
.icon-chenyi:before {
  content: "\e601";
}

.icon-Txu:before {
  content: "\e602";
}

.icon-fengyi:before {
  content: "\e603";
}

.icon-weiyi:before {
  content: "\e604";
}

.icon-changku:before {
  content: "\e605";
}

.icon-kuotuiku:before {
  content: "\e606";
}

.icon-baoqun:before {
  content: "\e607";
}

.icon-yongyi:before {
  content: "\e608";
}

.icon-lianyiqun:before {
  content: "\e609";
}

.icon-banqun:before {
  content: "\e60a";
}

.icon-duanku:before {
  content: "\e60b";
}

.icon-diaodai:before {
  content: "\e60c";
}

.icon-majia:before {
  content: "\e60d";
}

.icon-jiake:before {
  content: "\e60e";
}

.icon-maozi:before {
  content: "\e60f";
}

.icon-doupeng:before {
  content: "\e610";
}

.icon-shoutibao:before {
  content: "\e611";
}

.icon-changxue:before {
  content: "\e612";
}

.icon-beibao:before {
  content: "\e613";
}

.icon-weijin:before {
  content: "\e614";
}