* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
    font-family: "Lexend";
    font-weight: 400;
    color: #333;
    font-size:12px;
}
button {
	font-family: "Lexend";
}
input::placeholder {
	font-family: "Lexend";
}
input:focus{
	outline:none;
} 
ul,ol,li {
	list-style: none
}
a {
	text-decoration: none;
	color: #333
}
a:hover,a:active,a:focus {
	color: #c00;
	text-decoration: none;
}
img {
	border: 0;
	max-width:100%;
	max-height: 100%;
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	background: url(/image/computer/background.png);
	background-size: cover;
}
.btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn-black {
    background: #000000;
    color: #ffffff;
}
.table {
	display: table;
	height: 100%;
}
.tcell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.relative {
	position: relative;
}
.pointer {
	cursor: pointer;
}
.cover {
	width: 100%;
	background: #f5f5f5
}
.cover .left {
	width: 60%;
}
.cover .left .desc-title {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cover .right {
	width: 40%;
	text-align: right;
}
.layer {
	max-width: 1400px;
	min-width: 680px;
	margin: 0 auto;
	padding: 0 10px;
}
.w30 {
	width: 30%;
}
.w40 {
	width: 40%;
}
.w50 {
	width: 50%;
}
.w60 {
	width: 60%;
}
.w70 {
	width: 70%;
}
.w100 {
	width: 100%;
}
.left {
	float: left
}
.right {
	float: right
}
.clear {
	clear: both;
}
.block {
	display: block;
}
.desc-title {
	padding: 8px 0;
}
.desc-title .userinfo {
	display: block;
	float: right;
}
.desc-title .userinfo.info-name {
	max-width: calc(100% - 118px);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.desc-title .userinfo.border-right {
	border-right: 1px solid #D1D1D6;
}
.input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    position: relative;
    padding: 0 8px;
}
.cg {
	color: #AB7C3F;
}
.bg-f {
	background-color: #fff;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.hide {
	display: none;
}
.meau-header {
	background-color: #fff;
	padding: 12px 0;
	border-bottom: 1px solid #D1D1D6;
}
.meau-header .search-cell {
	max-width: 880px;
	margin: 0 auto;
	padding-left: 20px;
}
.meau-header .search-cell .input {
	padding-right: 68px;
	border-radius: 8px;
    border: 2px solid #93939A;
}
.meau-header .search-cell .iconfont {
	position: absolute;
	top: 8px;
	right: 23px;
	color: #93939A;
	cursor: pointer;
}
.meau-header .search-cell .hot-search {
	padding-left: 50px;
}
.meau-header .search-cell .hot-search a {
	color: #666;
	margin-right: 12px;
	line-height: 20px;
}
.meau-header .search-cell .hot-search .hot-icon {
	position: absolute;
	top: 0;
	left: 0;
}
.nav-list .layer {
	padding: 12px 10px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.nav-list .newservice {
    position: relative;
    background-color: #F7F9FA;
    border-radius: 12px;
    padding: 16px;
}
.nav-list .newnav {
	width: 70%;
}
.modal {
	display: none;
}
.modal .mask {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
    z-index: 100;
}
.modal .popper {
	position: fixed;
    z-index: 101;
    top: 0;
    left: -350px;
    bottom: 0;
    width: 350px;
    background-color: #fff;
}
.modal .header {
	padding: 16px;
    border-bottom: 1px solid #BBBBBF;
    text-align: center;
    position: relative;
    font-size: 0;
}
.modal .header img {
	max-height: 26px;
}
.modal .header .iconfont {
	position: absolute;
	top: 22px;
	left: 17px;
}
.modal .body {
	padding: 0 16px;
}
.modal .body .tcell {
	height: 56px;
}
.modal .body .tcell.icon {
	width: 40px;
}
.modal .footer {
	height: 96px;
	position: absolute;
	bottom: 0;
	padding: 16px;
	width: 100%;
}
.crumbs {
	padding: 10px 0;
	background-color: #fff;
}
.crumbs li {
	display: inline-block;
}
.crumbs li:after {
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
	content: "/";
}
.crumbs li:last-child:after {
	content: "";
}
.crumbs li a {
	font-size: 16px;
}