/* product_purchaselist */
#purchase-list-page .status {
    color: green;
}
#purchase-list-page .status.status-0 {
    color: gray;
}
#purchase-list-page .status.status-1 {
    color: orange;
}
#purchase-list-page .status.status-2 {
    color: green;
}
#purchase-list-page .status.status-3 {
    color: red;
}