.product-list {
	padding: 0 0.05rem;
}
.product-list .title {
	padding: 0 0.07rem;
	margin-top: 0.2rem;
	font-size: 0.16rem;
	font-weight: 600;
}
.product-list li {
	float: left;
	width: 50%;
	margin-top: 0.1rem;
	padding: 0 0.05rem;
	position: relative;
}
.product-list li a {
	display: block;
	background: #fff;
	border-radius: 0.06rem;
	overflow: hidden;
}
.product-list .img {
	display: table-cell;
	width: 100%;
	height: calc((100vw - 0.3rem)/2);
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	position: relative;
}
.product-list .img img {
	width: 100%;
}
.product-list .name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow:hidden;
	-webkit-box-orient: vertical;
	margin-top: 0.08rem;
	font-size: 0.13rem;
	min-height: 0.36rem;
}
.product-list .original_price {
	margin-left: 0.04rem;
	color: #666666;
	text-decoration: line-through;
}
.product-list .like-block {
	position: absolute;
	right: 0.05rem;
	bottom: 0.05rem;
	width: 0.34rem;
	height: 0.34rem;
	border-radius: 50%;
	font-size: 0.20rem;
	color: #404040;
	z-index: 101;
}.widget-page-bar li {
	display: inline-block;
	font-size: 0;
}
.widget-page-bar li a {
	display: block;
}.category-content {
	position: relative;
	margin-top: -0.1rem;
}
.hot-category-list {
	width: 100%;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	font-size: 0;
	padding-bottom: 0.12rem;
	padding-top: 0.08rem;
}
.hot-category-list::-webkit-scrollbar {
	width: 0.04rem;
	height: 0.04rem;
}
.hot-category-list::-webkit-scrollbar-track {
	background: #d4d8de;
	margin: 0 38vw;
	border-radius: 0.03rem;
}
.hot-category-list::-webkit-scrollbar-thumb {
	background: #5d656b;
	border-radius: 0.06rem;
	opacity: 0.8;
}
.hot-category-list li {
	display: inline-block;
	width: calc(100vw / 4);
	text-align: center;
}
.hot-category-list li:last-child {
	margin-right: 0.12rem;
}
.hot-category-list li .item {
	display: block;
	font-size: 0.12rem;
	width: 100%;
}
.hot-category-list li .item:first-child {
	margin-bottom: 0.12rem;
}
.hot-category-list li .cate-img {
	width: 100%;
	height: 0.5rem;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
}
.hot-category-list li .cate-img img {
	border-radius: 50%;
}
.hot-category-list li .item p {
	min-height: 0.17rem;
}
.bg-round {
	background-image: url(/image/mobile/bg-round.png);
	height: 0.1rem;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	margin-bottom: -0.02rem;
}
.banner {
	overflow: hidden;
	position: relative;
}
.banner ul {
	white-space: nowrap;
	position: relative;
	font-size: 0;
	width: 100%;
}
.banner li {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.banner li a {
	display: block;
	width: 100%;
	text-align: center;
}
.pop-content {
	position: absolute;
	width: 100%;
	z-index: 100;
	left: 0;
	bottom: 0;
	text-align: center;
}
.pop-content li {
	display: inline-block;
	height: 0.08rem;
	width: 0.08rem;
	border-radius: 100%;
	background-color: #ffffff;
	margin: 0.1rem 0.02rem;
	opacity: 0.5;
	transition-duration: 300ms;
}
.pop-content li.active {
	background-color: #5d656b;
	opacity: 0.8;
}
#left-banner {
	border-radius: 0.04rem;
}