#page-not-found {
	margin-top: 0.18rem;
	padding: 0.3rem 0.20rem;
	background-color: #fff;
	text-align: center;
	color: #666666;
}
#page-not-found p.tips {
	font-size: 0.18rem;
	line-height: 0.26rem;
}
#page-not-found p.home-tips {
	margin-top: 0.4rem;
	font-size: 0.14rem;
}
#page-not-found p.home-tips a {
	display: inline-block;
	margin-top: 0.06rem;
	color: #0075E2;
}
#page-not-found .searching {
	margin-top: 0.1rem;
	height: 0.38rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
#page-not-found .searching .btn {
	font-size: 0.18rem;
	padding: 0 0.12rem;
	background: #F7F7F7;
}
#page-not-found .searching .input {
	background: #F7F7F7;
}#recommend-page .recommend-product-list li {
	float: left;
	width: 50%;
	margin-top: 0.1rem;
}
#recommend-page .recommend-product-list li.item-0 {
	padding-right: 0.05rem;
}
#recommend-page .recommend-product-list li.item-1 {
	padding-left: 0.05rem;
}
#recommend-page .recommend-product-list li a {
	display: block;
	background: #fff;
	border-radius: 0.06rem;
	overflow: hidden;
}
#recommend-page .recommend-product-list .img {
	display: table-cell;
	width: 1.71rem;
	height: 1.71rem;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
}
#recommend-page .recommend-product-list .img img {
	width: 100%;
}
#recommend-page .recommend-product-list .name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow:hidden;
	-webkit-box-orient: vertical;
	margin-top: 0.10rem;
	font-size: 0.13rem;
}
#recommend-page .recommend-product-list .original_price {
	margin-left: 0.04rem;
	color: #666666;
	text-decoration: line-through;
}