#address-page {
	padding: 0.2rem 0 0.1rem 0;
}
#address-page .address-content .title span {
	display: inline-block;
	height: 0.24rem;
	line-height: 0.24rem;
	font-size: 0.18rem;
}
#address-page .address-list .item {
	padding: 0.16rem;
	background: #fff;
	margin-bottom: 0.1rem;
	border: 0.01rem solid #fff;
	position: relative;
}
#address-page .address-list .item p {
	margin-bottom: 0.02rem;
}
#address-page .address-list .item.active {
	border-color: #404040;
}
#address-page .address-list .item .default-btn {
	position: absolute;
	top: -0.01rem;
	right: -0.01rem;
}
#address-page .address-list .item.active p:first-child {
	width: 80%;
}
#address-page .address-list .item .iconfont {
	font-size: 0.18rem;
	position: absolute;
	top: 0.04rem;
	right: 0.04rem;
	color: #ddd;
}
#address-page .address-list .item .iconfont.icon-wuliu {
	right: 0.30rem;
}
#address-page .address-list .item .iconfont.active {
	color: #000;
}
#address-page .empty-tips {
	font-size: 0.16rem;
	text-align: center;
	margin-top: 0.4rem;
	margin-bottom: 0.6rem;
}#address-book {
	z-index: 106;
}
#address-book .dialog {
	height: calc(100% - 0.32rem);
	bottom: 0.16rem;
}
#address-book .dialog .content .item {
	position: relative;
}
#address-book .dialog .content .item .error-tips {
	top: 0.23rem;
}
#address-book .dialog .footer .btn {
	width: 1.2rem;
}
#address-book .dialog .content .title .cred {
	position: relative;
	top: 0.04rem;
}
#address-book .dialog .content .input,
#address-book .dialog .content .selection {
	height: 0.4rem;
	border: 0.02rem solid #fff;
	background: #fff;
}
#address-book .dialog .content .error .selection,
#address-book .dialog .content .error .input {
	border-color: #EB2027;
}.product-list {
	padding: 0 0.05rem;
}
.product-list .title {
	padding: 0 0.07rem;
	margin-top: 0.2rem;
	font-size: 0.16rem;
	font-weight: 600;
}
.product-list li {
	float: left;
	width: 50%;
	margin-top: 0.1rem;
	padding: 0 0.05rem;
	position: relative;
}
.product-list li a {
	display: block;
	background: #fff;
	border-radius: 0.06rem;
	overflow: hidden;
}
.product-list .img {
	display: table-cell;
	width: 1.71rem;
	height: 1.71rem;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	position: relative;
}
.product-list .img img {
	width: 100%;
}
.product-list .name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow:hidden;
	-webkit-box-orient: vertical;
	margin-top: 0.08rem;
	font-size: 0.13rem;
	min-height: 0.36rem;
}
.product-list .original_price {
	margin-left: 0.04rem;
	color: #666666;
	text-decoration: line-through;
}
.product-list .like-block {
	position: absolute;
	right: 0.05rem;
	bottom: 0.05rem;
	width: 0.34rem;
	height: 0.34rem;
	border-radius: 50%;
	font-size: 0.20rem;
	color: #404040;
	z-index: 101;
}