.in-1{float: left;margin-left: -18px;margin-top: 9px;}
.in-2{color: #f97858;}
.in-3{color: #7000ff;}
.t-1{border-right: solid 1px #dedede; text-align-last: right;padding-right: 5px;max-width:200px; }
.t-2{padding-left: 5px;word-break:break-all;}
.cycle-on{color: #00b80d;float: left;font-size: 25px;}
.cycle-restart{color: #2b2ae7;float: left;font-size: 25px;}
.cycle-off{color:#ff0000;float: left;font-size: 25px;}