#page-not-found {
	margin-top: 0.18rem;
	padding: 0.3rem 0.20rem;
	background-color: #fff;
	text-align: center;
	color: #666666;
}
#page-not-found p.tips {
	font-size: 0.18rem;
	line-height: 0.26rem;
}
#page-not-found p.home-tips {
	margin-top: 0.4rem;
	font-size: 0.14rem;
}
#page-not-found p.home-tips a {
	display: inline-block;
	margin-top: 0.06rem;
	color: #0075E2;
}
#page-not-found .searching {
	margin-top: 0.1rem;
	height: 0.38rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
#page-not-found .searching .btn {
	font-size: 0.18rem;
	padding: 0 0.12rem;
	background: #F7F7F7;
}
#page-not-found .searching .input {
	background: #F7F7F7;
}