#login-page .icon-guanbi1{
	font-size: 0.22rem;
	color: #404040;
	position: absolute;
	top: 0.16rem;
	right: 0.16rem;
}
#login-page .title {
	font-size: 0.24rem;
	text-align: center;
	padding: 0.3rem 0;
}
#login-page .content {
	padding: 0 0.48rem;
}
#login-page .name {
	font-size: 0.14rem;
	font-weight: 700;
	margin-bottom: 0.04rem;
}
#login-page .input {
	height: 0.4rem;
	border: 0.02rem solid #ffffff;
}
#login-page .email .input,
#login-page .password .input,
#login-page .repassword .input {
	padding: 0 0.16rem;
}
#login-page .email .btn {
	min-width: 0.62rem;
	padding: 0 0.16rem;
}
#login-page .content .input:focus {
	border-color: #000000;
}
#login-page .input-group {
	font-size: 0;
}
#login-page .input-group .input {
	width: 0.4rem;
	font-weight: 700;
	text-align: center;
	margin-right: 0.08rem;
}
#login-page .input-group .input:last-child {
	margin-right: 0;
}
#login-page .input-group.focus .input {
	border-color: #000000;
}
#login-page .error .input {
	border-color: #EB2027;
	background: rgb(235,32,39,0.1);
}
#login-page .message-tips {
	font-weight: 700;
	margin-top: 0.02rem;
}
#login-page .message-tips.error {
	color: #EB2027;
}
#login-page .success .input {
	border-color: green;
	background: rgb(0,128,0,0.1);
}
#login-page .message-tips.success {
	color: green;
}
#login-page .change-verify-btn,
.change-login-sign {
	font-size: 0.14rem;
	color: #666666;
	text-decoration: underline;
}
#login-page .login-btn {
	padding: 0 0.24rem;
	margin-right: 0.16rem;
}
#login-page .help-btn,
#login-page .forget-btn {
	line-height: 0.40rem;
}
#login-page .help-tips {
	display: none;
	position: absolute;
	left: 0;
	top: -1.17rem;
	width: 2.8rem;
	background: #FFFFFF;
	padding: 0.16rem;
	z-index: 99;
	text-align: left;
	color: #333333;
	box-shadow: 0rem 0rem 0.06rem 0.01rem rgb(0 , 0 , 0, 0.1);
}
#login-page .border-up-empty {
	width: 0;
	height: 0;
	position: absolute;
	bottom: -0.1rem;
	left: 0.25rem;
}
#login-page .border-up-empty span {
	display: block;
	width: 0;
	height: 0;
	border-left: 0.07rem solid transparent;
	border-right: 0.07rem solid transparent;
	border-top: 0.07rem solid #FFFFFF;
	position: absolute;
	top: -0.10rem;
}
#login-page .agreement .iconfont {
	position: relative;
	top: 0.01rem;
}
.txt-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}