#userinfo-page .image-avatar img {
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	font-size: 0;
	overflow: hidden;
}
#userinfo-page .name-content {
	padding: 0.12rem 0.24rem 0 0.12rem;
	vertical-align: top;
	text-align: left;
	position: relative;
}
#userinfo-page .name-content p {
	max-width: 2.3rem;
}
#userinfo-page .name-content .iconfont {
	position: absolute;
	top: 0.17rem;
	right: 0.06rem;
}
#userinfo-page .nav-list ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
	font-size: 0.12rem;
}
#userinfo-page .nav-list ul li .iconfont {
	font-size: 0.2rem;
}
#info-edit-modal .dialog {
	height: 4.6rem;
	bottom: 1.03rem;
}
#info-edit-modal .content .item {
	margin-top: 0.18rem;
	position: relative;
}
#info-edit-modal .content .item .error-tips {
	top: 0.24rem;
}
#info-edit-modal .content .item .name {
	font-size: 0.14rem;
	font-weight: 700;
	margin-bottom: 0.04rem;
}
#info-edit-modal .content .item .name .cred {
	position: relative;
	top: 0.03rem;
}
#info-edit-modal .content .item .input {
	height: 0.4rem;
	background: #fff;
}
#info-edit-modal .content .item .dialing-list {
	display: none;
	position: absolute;
	width: 0.66rem;
	height: 2.03rem;
	background: #fff;
	padding-top: 0.22rem;
	bottom: 0.72rem;
	box-shadow: 0 0 0.06rem 0 rgba(0, 0, 0, 0.2);
}
#info-edit-modal .content .item .open .dialing-list {
	display: block;
}
#info-edit-modal .content .item .dialing-list .input {
	height: 0.22rem;
	font-size: 0.12rem;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}
#info-edit-modal .content .item .dialing-list ul {
	max-height: 100%;
	overflow: auto;
}
#info-edit-modal .content .item .dialing-list li {
	text-align: center;
	line-height: 0.22rem;
	padding: 0 0.12rem;
}
#info-edit-modal .content .item .dialing-list li.active {
	background: #404040;
	color: #fff;
}