.product-list.type-0 {
	padding: 0 0.06rem;
}
.product-list .item {
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 0.04rem 0.1rem 0.01rem rgba(0, 0, 0, 0.1);
    border-radius: 0.06rem;
    overflow: hidden;
	width: calc(50% - 0.12rem);
}
.product-list.type-0 .item {
	margin: 0 0.06rem;
	margin-bottom: 0.12rem;
}
.product-list.type-1 .item {
	margin-right: 0.1rem;
}
.product-list.type-1 .item:last-child {
	margin-right: 0;
}
.product-list .product-image {
	width: 100%;
	height: 1.7rem;
	line-height: 1.72rem;
}
.product-list .footer-content {
	padding: 0 0.04rem 0.16rem 0.04rem;
}
.product-list .product-name {
    font-size: .12rem;
    line-height: .16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin: 0.08rem 0;
    white-space: normal;
}