#checkout-page .header {
	height: 0.36rem;
	padding: 0.08rem 0.08rem 0.04rem 0;
}
#checkout-page .header img {
	width: 0.24rem;
	height: 0.24rem;
	margin-right: 0.08rem;
	float: left;
}
#checkout-page .header .checkout-tips{
	color: #83B293;
	font-size: 0.14rem;
	display: inline-block;
	line-height: 0.24rem;
	float: left;
}
#checkout-page .header-nav {
	padding: 0.06rem 0 0.12rem 0;
	text-align: center;
	color: #666666;
}
#checkout-page .info-content {
	padding: 0.12rem;
}
#checkout-page .info-content {
	padding: 0.12rem;
	margin-top: 0.1rem;
	position: relative;
}
#checkout-page .info-content .title {
	padding-bottom: 0.06rem;
	border-bottom: 0.01rem solid #e5e5e5;
}
#checkout-page .info-content .address .address-info-content {
	display: table;
	width: 100%;
	min-height: 0.36rem;
}
#checkout-page .info-content .address .address-info-content .iconfont-tcell {
	width: 0.24rem;
	text-align: center;
	font-size: 0.18rem;
}
#checkout-page .info-content .address .address-info {
	padding-left: 0.1rem;
	font-size: 0.14rem;
	color: #404040;
}
#checkout-page .info-content .address .address-info p {
	margin-bottom: 0.02rem;
}
#checkout-page .info-content .address .address-info p:last-child {
	margin-bottom: 0;
}
#checkout-page .product-list .item {
	position: relative;
	margin-top: 0.12rem;
}
#checkout-page .product-list .item .image {
	width: 0.95rem;
	vertical-align: top;
}
#checkout-page .product-list .item .image-tcell {
	width: 0.95rem;
	height: 0.95rem;
}
#checkout-page .product-list .item .info {
	width: calc(100% - 0.95rem);
	padding-left: 0.08rem;
	vertical-align: top;
	text-align: left;
}
#checkout-page .product-list .item .info .product-name {
	font-weight: 600;
	line-height: 0.18rem;
	margin-bottom: 0.1rem;
}
#checkout-page .product-list .item .info .field-row {
	display: table;
	width: 100%;
}
#checkout-page .product-list .item .attr-content {
	width: 65%;
	display: table-cell;
	vertical-align: bottom;
}
#checkout-page .product-list .item .edit-content {
	width: 35%;
	display: table-cell;
	text-align: right;
	vertical-align: bottom;
}
#checkout-page .product-list .item .attr-content .attr-item {
	background: rgba(236, 236, 236, 0.8);
	border-radius: 0.03rem;
	margin-bottom: 0.06rem;
	padding: 0.02rem 0.08rem;
	position: relative;
}
#checkout-page .product-list .item .attr-content .attr-item:last-child {
	margin-bottom: 0;
}
#checkout-page .product-list .item .attr-content .attr-image img {
	width: 0.24rem;
	height: 0.24rem;
	border-radius: 50%;
	float: left;
	margin-right: 0.06rem;
}
#checkout-page .product-list .item .attr-content .attr-item span {
	font-size: 0.12rem;
}
#checkout-page .product-list .item .attr-content .attr-image span {
	float: left;
	width: calc(100% - 0.36rem);
	position: relative;
	top: 0.04rem;
}
#checkout-page .product-list .item .price {
	font-size: 0.16rem;
	font-weight: 600;
}
#checkout-page .product-list .item .original_price {
	font-size: 0.12rem;
	text-decoration: line-through;
	color: #666666;
	margin-left: 0.04rem;
}
#checkout-page .product-list .item .quantity-num {
	font-size: 0.16rem;
	font-weight: 600;
}
#checkout-page .order-content {
	min-height: 0.3rem;
	padding: 0.12rem 0;
	font-size: 0.14rem;
}
#checkout-page .order-content .row {
	margin-bottom: 0.06rem;
}
#checkout-page .order-content .row:last-child {
	margin-bottom: 0;
}
#checkout-page .originalprice-row .value {
	color: #666666;
	text-decoration: line-through;
}
#checkout-page .logistics-list .item {
	position: relative;
	padding: 0.12rem 0.12rem 0.12rem 0.3rem;
	border-bottom: 0.01rem solid #e5e5e5;
}
#checkout-page .logistics-list .item .iconfont {
	position: absolute;
	font-size: 0.18rem;
	top: calc(50% - 0.09rem);
	left: 0;
}
#checkout-page .help-tips {
	display: none;
	position: absolute;
	top: 0.12rem;
	right: 0.12rem;
	width: 2.8rem;
	background: #FFFFFF;
	padding: 0.16rem;
	z-index: 99;
	text-align: left;
	color: #333333;
	box-shadow: 0rem 0rem 0.06rem 0.01rem rgb(0 0 0 / 10%);
}
#checkout-page .border-up-empty {
	width: 0;
	height: 0;
	position: absolute;
	bottom: -0.1rem;
	left: calc(50% - 0.09rem);
}
#checkout-page .border-up-empty span {
	display: block;
	width: 0;
	height: 0;
	border-left: 0.07rem solid transparent;
	border-right: 0.07rem solid transparent;
	border-top: 0.07rem solid #FFFFFF;
	position: absolute;
	top: -0.10rem;
}
#my-address-list .close-btn {
	position: absolute;
	top: 0.16rem;
	left: 0.16rem;
	height: 0.30rem;
	width: 0.30rem;
	line-height: 0.3rem;
	z-index: 105;
	font-size: 0.18rem;
	padding: 0;
	font-weight: 600;
}
#my-address-list .content {
	position: absolute;
	width: calc(100% - 0.62rem);
	height: 100%;
	background: #fff;
	z-index: 105;
	right: 0;
	top: 0;
	padding: 0.12rem;
	-webkit-transition: 0.3s -webkit-transform;
	transition: 0.3s -webkit-transform;
	transition: 0.3s transform;
	transition: 0.3s transform, 0.3s -webkit-transform;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
#my-address-list .content.popup {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
#my-address-list .content .address-list {
	margin-top: 0.10rem;
	height: calc(100% - 0.66rem);
	overflow-y: scroll;
	border-top: 0.01rem solid #e5e5e5;
}
#my-address-list .content .address-list .item {
	padding: 0.1rem 0.24rem 0.1rem 0;
	border-bottom: 0.01rem solid #e5e5e5;
	font-size: 0.14rem;
	position: relative;
}
#my-address-list .content .address-list .item p {
	margin-bottom: 0.02rem;
}
#my-address-list .content .address-list .item p:last-child {
	margin-bottom: 0;
}
#my-address-list .content .address-list .item .iconfont {
	position: absolute;
	top: calc(50% - 0.09rem);
	right: 0.03rem;
	font-size: 0.18rem;
	color: #999999;
}