* {
	box-sizing: border-box
}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td {
	margin: 0;
	padding: 0
}
body,button,input,select,textarea {
	font-size: 12px;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
	color: #333
}
ul,ol,li {
	list-style: none
}
a {
	text-decoration: none
}
a:hover,a:active,a:focus {
	color: #c00;
	text-decoration: underline
}
img {
	border: 0,max-width:100%;
	max-height: 100%
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	background: url(/image/computer/background.png);
	background-size: cover
}
.cover {
	width: 100%;
	height: 35px;
	background: #f5f5f5
}
.layer {
	max-width: 1300px;
	margin: 0 auto;
	margin: 0 10px;
}
.left {
	float: left
}
.right {
	float: right
}@font-face{font-family:"iconfont";src:url('/font/iconfont.eot');src:url('/font/iconfont.eot#iefix') format('embedded-opentype'),url('/font/iconfont.woff') format('woff'),url('/font/iconfont.ttf') format('truetype'),url('/font/iconfont.svg#iconfont') format('svg')}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-danxuanfill:before {
	content: "\e71e";
}

.icon-danxuan:before {
	content: "\e71f";
}

.icon-fangxingweixuanzhong:before {
	content: "\e720";
}

.icon-fangxingxuanzhongfill:before {
	content: "\e721";
}

.icon-fangxingxuanzhong:before {
	content: "\e722";
}

.icon-guanbi1:before {
	content: "\e723";
}

.icon-guanbi2fill:before {
	content: "\e724";
}

.icon-guanbi2:before {
	content: "\e725";
}

.icon-jiahao:before {
	content: "\e726";
}

.icon-jiahao1:before {
	content: "\e727";
}

.icon-jiahao2fill:before {
	content: "\e728";
}

.icon-jianhao:before {
	content: "\e729";
}

.icon-tishifill:before {
	content: "\e72a";
}

.icon-tishi:before {
	content: "\e72b";
}

.icon-wenhaofill:before {
	content: "\e72c";
}

.icon-wenhao:before {
	content: "\e72d";
}

.icon-xuanze:before {
	content: "\e72e";
}

.icon-yuanxingweixuanzhong:before {
	content: "\e72f";
}

.icon-yuanxingxuanzhongfill:before {
	content: "\e730";
}

.icon-yuanxingxuanzhong:before {
	content: "\e731";
}

.icon-biaoxingfill:before {
	content: "\e732";
}

.icon-biaoxing:before {
	content: "\e733";
}

.icon-chexiao:before {
	content: "\e734";
}

.icon-dianpufill:before {
	content: "\e735";
}

.icon-dianpu:before {
	content: "\e736";
}

.icon-dingdan:before {
	content: "\e737";
}

.icon-fankui:before {
	content: "\e738";
}

.icon-fenxiang:before {
	content: "\e739";
}

.icon-gengduo:before {
	content: "\e73a";
}

.icon-gonglve:before {
	content: "\e73b";
}

.icon-gouwuchefill:before {
	content: "\e73c";
}

.icon-gouwuche:before {
	content: "\e73d";
}

.icon-gouwudai:before {
	content: "\e73e";
}

.icon-qiapianxingshi:before {
	content: "\e73f";
}

.icon-kefufill:before {
	content: "\e740";
}

.icon-kefu:before {
	content: "\e741";
}

.icon-liebiaoxingshi:before {
	content: "\e742";
}

.icon-liuyanfill:before {
	content: "\e743";
}

.icon-liuyan:before {
	content: "\e744";
}

.icon-pengyoufill:before {
	content: "\e745";
}

.icon-pengyou:before {
	content: "\e746";
}

.icon-qingchu:before {
	content: "\e747";
}

.icon-quan:before {
	content: "\e748";
}

.icon-saoma:before {
	content: "\e749";
}

.icon-shaixuan:before {
	content: "\e74a";
}

.icon-shanchu:before {
	content: "\e74b";
}

.icon-shezhi:before {
	content: "\e74c";
}

.icon-shenfen:before {
	content: "\e74d";
}

.icon-shizhongfill:before {
	content: "\e74e";
}

.icon-shizhong:before {
	content: "\e74f";
}

.icon-shouyefill:before {
	content: "\e750";
}

.icon-shouye:before {
	content: "\e751";
}

.icon-sousuo:before {
	content: "\e752";
}

.icon-sousuoleimufill:before {
	content: "\e753";
}

.icon-sousuoleimu:before {
	content: "\e754";
}

.icon-tongzhifill:before {
	content: "\e758";
}

.icon-tongzhi:before {
	content: "\e759";
}

.icon-tuikuan:before {
	content: "\e75a";
}

.icon-wodefill:before {
	content: "\e75d";
}

.icon-wode:before {
	content: "\e75e";
}

.icon-wuliu:before {
	content: "\e75f";
}

.icon-xihuanfill:before {
	content: "\e760";
}

.icon-xihuan:before {
	content: "\e761";
}

.icon-xinxifill:before {
	content: "\e762";
}

.icon-xinxi:before {
	content: "\e763";
}

.icon-youhuiquan:before {
	content: "\e764";
}

.icon-yuyan:before {
	content: "\e765";
}

.icon-zhengli:before {
	content: "\e766";
}

.icon-zuji:before {
	content: "\e767";
}

.icon-zuobiaofill:before {
	content: "\e768";
}

.icon-zuobiao:before {
	content: "\e769";
}

.icon-dibu:before {
	content: "\e76a";
}

.icon-dingbujinzhi:before {
	content: "\e76b";
}

.icon-dingbu:before {
	content: "\e76c";
}

.icon-xiangshang1:before {
	content: "\e76d";
}

.icon-xiangshang2:before {
	content: "\e76e";
}

.icon-xiangshang3:before {
	content: "\e76f";
}

.icon-xiangshang5:before {
	content: "\e770";
}

.icon-xiangxia1:before {
	content: "\e771";
}

.icon-xiangxia2:before {
	content: "\e772";
}

.icon-xiangxia3:before {
	content: "\e773";
}

.icon-xiangxia5:before {
	content: "\e774";
}

.icon-xiangyou1:before {
	content: "\e775";
}

.icon-xiangyou2:before {
	content: "\e776";
}

.icon-xiangyou3fill:before {
	content: "\e777";
}

.icon-xiangyou3:before {
	content: "\e778";
}

.icon-xiangzuo1:before {
	content: "\e779";
}

.icon-xiangzuo2:before {
	content: "\e77a";
}

.icon-xiangji1fill:before {
	content: "\e77e";
}

.icon-xiangji1:before {
	content: "\e77f";
}

.icon-xiangji2:before {
	content: "\e780";
}

.icon-jiazai:before {
	content: "\e781";
}

.icon-shuaxin:before {
	content: "\e782";
}

.icon-hongbao:before {
	content: "\e784";
}

.icon-xinyongqia:before {
	content: "\e785";
}

.icon-yonghufill:before {
	content: "\e787";
}

.icon-yonghu:before {
	content: "\e788";
}

.icon-salefill:before {
	content: "\e78a";
}

.icon-sale:before {
	content: "\e78b";
}

.icon-zengsong:before {
	content: "\e78c";
}

.icon-leimu:before {
	content: "\e78e";
}

.icon-bangzhuzhongxin:before {
	content: "\e78f";
}

.icon-caidan:before {
	content: "\e790";
}

.icon-zantongfill:before {
	content: "\e793";
}

.icon-zantong:before {
	content: "\e794";
}

.icon-xiangshang4:before {
	content: "\e795";
}

.icon-xiangxia4:before {
	content: "\e796";
}

.icon-dianhua:before {
	content: "\e797";
}

.icon-duozhongzhifu:before {
	content: "\e7ac";
}

.icon-pinpai:before {
	content: "\e7b8";
}@charset 'utf-8';
@font-face {
	font-family:'Open Sans';src:url('/font/OpenSans.ttf');src:url('/font/OpenSans.eot#iefix') format('embedded-opentype'),url('/font/OpenSans.woff') format('woff'),url('/font/OpenSans.ttf') format('truetype'),url('/font/OpenSans.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-semiBold';src:url('/font/OpenSans-SemiBold.ttf');src:url('/font/OpenSans-SemiBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-SemiBold.woff') format('woff'),url('/font/OpenSans-SemiBold.ttf') format('truetype'),url('/font/OpenSans-SemiBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-extraBold';src:url('/font/OpenSans-ExtraBold.ttf');src:url('/font/OpenSans-ExtraBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-ExtraBold.woff') format('woff'),url('/font/OpenSans-ExtraBold.ttf') format('truetype'),url('/font/OpenSans-ExtraBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-Bold';src:url('/font/OpenSans-Bold.ttf');src:url('/font/OpenSans-Bold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-Bold.woff') format('woff'),url('/font/OpenSans-Bold.ttf') format('truetype'),url('/font/OpenSans-Bold.svg#iconfont') format('svg')
}
.f600 {
	font-family: 'Open Sans-semiBold'
}
.f700 {
	font-family: 'Open Sans-Bold'
}
.f800 {
	font-family: 'Open Sans-extraBold'
}
.f12 {
	font-size: 12px
}
.f14 {
	font-size: 14px
}
.f16 {
	font-size: 16px
}
.f18 {
	font-size: 18px
}
.f20 {
	font-size: 20px
}
.f22 {
	font-size: 22px
}
.f24 {
	font-size: 24px
}
.f26 {
	font-size: 26px
}
.f28 {
	font-size: 28px
}
.f30 {
	font-size: 30px
}
.f32 {
	font-size: 32px
}.mb2 {
	margin-top: 02px
}
.mb4 {
	margin-top: 04px
}
.mb6 {
	margin-top: 06px
}
.mb8 {
	margin-top: 08px
}
.mb10 {
	margin-top: 10px
}
.mb12 {
	margin-top: 12px
}
.mb14 {
	margin-top: 14px
}
.mb16 {
	margin-top: 16px
}
.mb18 {
	margin-top: 18px
}
.mb20 {
	margin-top: 20px
}
.mb22 {
	margin-top: 22px
}
.mb24 {
	margin-top: 24px
}
.mb26 {
	margin-top: 26px
}
.mb28 {
	margin-top: 28px
}
.mb30 {
	margin-top: 30px
}
.mb32 {
	margin-top: 32px
}
.ml2 {
	margin-left: 02px
}
.ml4 {
	margin-left: 04px
}
.ml6 {
	margin-left: 06px
}
.ml8 {
	margin-left: 08px
}
.ml10 {
	margin-left: 10px
}
.ml12 {
	margin-left: 12px
}
.ml14 {
	margin-left: 14px
}
.ml16 {
	margin-left: 16px
}
.ml18 {
	margin-left: 18px
}
.ml20 {
	margin-left: 20px
}
.ml22 {
	margin-left: 22px
}
.ml24 {
	margin-left: 24px
}
.ml26 {
	margin-left: 26px
}
.ml28 {
	margin-left: 28px
}
.ml30 {
	margin-left: 30px
}
.ml32 {
	margin-left: 32px
}
.pb2 {
	padding-bottom: 02px
}
.pb4 {
	padding-bottom: 04px
}
.pb6 {
	padding-bottom: 06px
}
.pb8 {
	padding-bottom: 08px
}
.pb10 {
	padding-bottom: 10px
}
.pb12 {
	padding-bottom: 12px
}
.pb14 {
	padding-bottom: 14px
}
.pb16 {
	padding-bottom: 16px
}
.pb18 {
	padding-bottom: 18px
}
.pb20 {
	padding-bottom: 20px
}
.pb22 {
	padding-bottom: 22px
}
.pb24 {
	padding-bottom: 24px
}
.pb26 {
	padding-bottom: 26px
}
.pb28 {
	padding-bottom: 28px
}
.pb30 {
	padding-bottom: 30px
}
.pb32 {
	padding-bottom: 32px
}
.pl2 {
	padding-left: 02px
}
.pl4 {
	padding-left: 04px
}
.pl6 {
	padding-left: 06px
}
.pl8 {
	padding-left: 08px
}
.pl10 {
	padding-left: 10px
}
.pl12 {
	padding-left: 12px
}
.pl14 {
	padding-left: 14px
}
.pl16 {
	padding-left: 16px
}
.pl18 {
	padding-left: 18px
}
.pl20 {
	padding-left: 20px
}
.pl22 {
	padding-left: 22px
}
.pl24 {
	padding-left: 24px
}
.pl26 {
	padding-left: 26px
}
.pl28 {
	padding-left: 28px
}
.pl30 {
	padding-left: 30px
}
.pl32 {
	padding-left: 32px
}