@font-face{font-family:"iconfont";src:url('/font/iconfont.eot');src:url('/font/iconfont.eot#iefix') format('embedded-opentype'),url('/font/iconfont.woff') format('woff'),url('/font/iconfont.ttf') format('truetype'),url('/font/iconfont.svg#iconfont') format('svg')}.iconfont{font-family:"iconfont"!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-check:before{content:"\e645"}.icon-close:before{content:"\e646"}.icon-edit:before{content:"\e649"}.icon-favorfill:before{content:"\e64b"}.icon-favor:before{content:"\e64c"}.icon-loading:before{content:"\e64f"}.icon-locationfill:before{content:"\e650"}.icon-location:before{content:"\e651"}.icon-phone:before{content:"\e652"}.icon-roundcheckfill:before{content:"\e656"}.icon-roundcheck:before{content:"\e657"}.icon-roundclosefill:before{content:"\e658"}.icon-roundclose:before{content:"\e659"}.icon-search:before{content:"\e65c"}.icon-timefill:before{content:"\e65e"}.icon-time:before{content:"\e65f"}.icon-warnfill:before{content:"\e662"}.icon-warn:before{content:"\e663"}.icon-camerafill:before{content:"\e664"}.icon-camera:before{content:"\e665"}.icon-commentfill:before{content:"\e666"}.icon-comment:before{content:"\e667"}.icon-likefill:before{content:"\e668"}.icon-like:before{content:"\e669"}.icon-deliver:before{content:"\e671"}.icon-pay:before{content:"\e673"}.icon-ticket:before{content:"\e677"}.icon-back:before{content:"\e679"}.icon-cascades:before{content:"\e67c"}.icon-list:before{content:"\e682"}.icon-pic:before{content:"\e69b"}.icon-filter:before{content:"\e69c"}.icon-footprint:before{content:"\e69d"}.icon-top:before{content:"\e69e"}.icon-right:before{content:"\e6a3"}.icon-refresh:before{content:"\e6a4"}.icon-deletefill:before{content:"\e6a6"}.icon-refund:before{content:"\e6ac"}.icon-cart:before{content:"\e6af"}.icon-delete:before{content:"\e6b4"}.icon-home:before{content:"\e6b8"}.icon-cartfill:before{content:"\e6b9"}.icon-homefill:before{content:"\e6bb"}.icon-message:before{content:"\e6bc"}.icon-addressbook:before{content:"\e6bd"}.icon-goods:before{content:"\e6cd"}.icon-squarecheckfill:before{content:"\e6d4"}.icon-square:before{content:"\e6d5"}.icon-squarecheck:before{content:"\e6d6"}.icon-round:before{content:"\e6d7"}.icon-roundaddfill:before{content:"\e6d8"}.icon-roundadd:before{content:"\e6d9"}.icon-rechargefill:before{content:"\e6ec"}.icon-recharge:before{content:"\e6ed"}.icon-searchlist:before{content:"\e6fe"}.icon-babyfill:before{content:"\e710"}.icon-baby:before{content:"\e711"}.icon-female:before{content:"\e71a"}.icon-male:before{content:"\e71c"}.icon-goodsfill:before{content:"\e778"}.icon-messagefill:before{content:"\e779"}.icon-my:before{content:"\e78b"}.icon-myfill:before{content:"\e78c"}.icon-goodsfavor:before{content:"\e794"}.icon-attentionforbid:before{content:"\e7b2"}.icon-attentionforbidfill:before{content:"\e7b3"}.icon-goods_favor_light:before{content:"\e7e4"}.icon-global:before{content:"\e7eb"}.icon-deliver_fill:before{content:"\e7f6"}.icon-ticket_fill:before{content:"\e800"}* {
	box-sizing: border-box
}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td {
	margin: 0;
	padding: 0
}
body,button,input,select,textarea {
	font-size: 12px;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
	color: #333
}
ul,ol,li {
	list-style: none
}
a {
	text-decoration: none
}
a:hover,a:active,a:focus {
	color: #c00;
	text-decoration: underline
}
img {
	border: 0,max-width:100%;
	max-height: 100%
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	background: url(/image/computer/background.png);
	background-size: cover
}
.cover {
	width: 100%;
	height: 35px;
	background: #f5f5f5
}
.layer {
	max-width: 1300px;
	margin: 0 auto;
	margin: 0 10px;
}
.left {
	float: left
}
.right {
	float: right
}@charset 'utf-8';
@font-face {
	font-family:'Open Sans';src:url('/font/OpenSans.ttf');src:url('/font/OpenSans.eot#iefix') format('embedded-opentype'),url('/font/OpenSans.woff') format('woff'),url('/font/OpenSans.ttf') format('truetype'),url('/font/OpenSans.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-semiBold';src:url('/font/OpenSans-SemiBold.ttf');src:url('/font/OpenSans-SemiBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-SemiBold.woff') format('woff'),url('/font/OpenSans-SemiBold.ttf') format('truetype'),url('/font/OpenSans-SemiBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-extraBold';src:url('/font/OpenSans-ExtraBold.ttf');src:url('/font/OpenSans-ExtraBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-ExtraBold.woff') format('woff'),url('/font/OpenSans-ExtraBold.ttf') format('truetype'),url('/font/OpenSans-ExtraBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-Bold';src:url('/font/OpenSans-Bold.ttf');src:url('/font/OpenSans-Bold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-Bold.woff') format('woff'),url('/font/OpenSans-Bold.ttf') format('truetype'),url('/font/OpenSans-Bold.svg#iconfont') format('svg')
}
.f600 {
	font-family: 'Open Sans-semiBold'
}
.f700 {
	font-family: 'Open Sans-Bold'
}
.f800 {
	font-family: 'Open Sans-extraBold'
}
.f12 {
	font-size: 12px
}
.f14 {
	font-size: 14px
}
.f16 {
	font-size: 16px
}
.f18 {
	font-size: 18px
}
.f20 {
	font-size: 20px
}
.f22 {
	font-size: 22px
}
.f24 {
	font-size: 24px
}
.f26 {
	font-size: 26px
}
.f28 {
	font-size: 28px
}
.f30 {
	font-size: 30px
}
.f32 {
	font-size: 32px
}.mb2 {
	margin-top: 02px
}
.mb4 {
	margin-top: 04px
}
.mb6 {
	margin-top: 06px
}
.mb8 {
	margin-top: 08px
}
.mb10 {
	margin-top: 10px
}
.mb12 {
	margin-top: 12px
}
.mb14 {
	margin-top: 14px
}
.mb16 {
	margin-top: 16px
}
.mb18 {
	margin-top: 18px
}
.mb20 {
	margin-top: 20px
}
.mb22 {
	margin-top: 22px
}
.mb24 {
	margin-top: 24px
}
.mb26 {
	margin-top: 26px
}
.mb28 {
	margin-top: 28px
}
.mb30 {
	margin-top: 30px
}
.mb32 {
	margin-top: 32px
}
.ml2 {
	margin-left: 02px
}
.ml4 {
	margin-left: 04px
}
.ml6 {
	margin-left: 06px
}
.ml8 {
	margin-left: 08px
}
.ml10 {
	margin-left: 10px
}
.ml12 {
	margin-left: 12px
}
.ml14 {
	margin-left: 14px
}
.ml16 {
	margin-left: 16px
}
.ml18 {
	margin-left: 18px
}
.ml20 {
	margin-left: 20px
}
.ml22 {
	margin-left: 22px
}
.ml24 {
	margin-left: 24px
}
.ml26 {
	margin-left: 26px
}
.ml28 {
	margin-left: 28px
}
.ml30 {
	margin-left: 30px
}
.ml32 {
	margin-left: 32px
}
.pb2 {
	padding-bottom: 02px
}
.pb4 {
	padding-bottom: 04px
}
.pb6 {
	padding-bottom: 06px
}
.pb8 {
	padding-bottom: 08px
}
.pb10 {
	padding-bottom: 10px
}
.pb12 {
	padding-bottom: 12px
}
.pb14 {
	padding-bottom: 14px
}
.pb16 {
	padding-bottom: 16px
}
.pb18 {
	padding-bottom: 18px
}
.pb20 {
	padding-bottom: 20px
}
.pb22 {
	padding-bottom: 22px
}
.pb24 {
	padding-bottom: 24px
}
.pb26 {
	padding-bottom: 26px
}
.pb28 {
	padding-bottom: 28px
}
.pb30 {
	padding-bottom: 30px
}
.pb32 {
	padding-bottom: 32px
}
.pl2 {
	padding-left: 02px
}
.pl4 {
	padding-left: 04px
}
.pl6 {
	padding-left: 06px
}
.pl8 {
	padding-left: 08px
}
.pl10 {
	padding-left: 10px
}
.pl12 {
	padding-left: 12px
}
.pl14 {
	padding-left: 14px
}
.pl16 {
	padding-left: 16px
}
.pl18 {
	padding-left: 18px
}
.pl20 {
	padding-left: 20px
}
.pl22 {
	padding-left: 22px
}
.pl24 {
	padding-left: 24px
}
.pl26 {
	padding-left: 26px
}
.pl28 {
	padding-left: 28px
}
.pl30 {
	padding-left: 30px
}
.pl32 {
	padding-left: 32px
}