* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font: 400 0.12rem 'Open Sans';
	color: #333;
	background-color: #f5f5f5;
	width: 100%;
	background: url(/image/computer/background.png);
	background-size: cover;
}
button,input{
	font: 400 0.12rem 'Open Sans';
}
ol,ul,li {
	list-style: none
}
img {
	max-width: 100%;
	max-height: 100%
}
button,input,select,textarea {
	font-size: 100%;
	-webkit-appearance: none;
	border: none;
}
button,input,select,textarea:focus {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}
input[type=text]::-ms-clear,input[type=password]::-ms-reveal,input[type=input]::-ms-clear {
	display: none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}
a:link,a:active,a:visited,a:hover {
	text-decoration: none;
}
a {
	outline: none;
	color: #333;
	text-decoration-line: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.layer8 {
	width: 100%;
	position: relative;
	padding: 0 0.08rem;
}
.layer {
	width: 100%;
	position: relative;
	padding: 0 0.12rem;
}
.layer16 {
	width: 100%;
	position: relative;
	padding: 0 0.16rem;
}
.layer24 {
	width: 100%;
	position: relative;
	padding: 0 0.24rem;
}
.left {
	float: left
}
.right {
	float: right
}
.table {
	display: table;
	height: 100%
}
.tcell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%
}
.block {
	display: block
}
.iblock {
	display: inline-block;
}
.input {
	height: 100%;
	width: 100%;
	border: none;
	padding: 0 0.08rem;
	font-size: 0.14rem;
	color: #666666;
}
.selection {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 0.14rem;
	color: #666666;
	background: #fff;
}
.selection .selector-icon {
	line-height: 0.36rem;
	position: relative;
	padding: 0 0.08rem;
}
.selection .selector-icon .iconfont {
	position: absolute;
	top: 0;
	right: 0.06rem;
}
.selection.open .selector-icon .iconfont {
	transform: rotateX(180deg);
}
.selection .selector-content {
	display: none;
	background: #fff;
	width: calc(100% + 0.04rem);
	position: relative;
	left: -0.02rem;
	z-index: 1;
	box-shadow: 0 0 0.06rem 0 rgba(0, 0, 0, 0.2);
}
.selection.open .selector-content {
	display: block;
}
.selection .selector-content .selector-search {
	padding: 0.1rem;
	width: 100%;
}
.selection .selector-content .selector-search .btn {
	float: left;
	width: 0.38rem;
	height: 0.38rem;
	background: #F7F7F7;
}
.selection .selector-content .selector-search .input {
	width: calc(100% - 0.38rem);
	float: left;
	height: 0.38rem !important;
	background: #F7F7F7 !important;
	border: none !important;
}
.selection .selector-content .selector {
	height: 2.56rem;
	overflow-y: scroll;
}
.selection .selector-content .selector li {
	padding: 0 0.1rem;
	line-height: 0.32rem;
}
.selection .selector-content .selector li.active {
	background: #666666;
	color: #fff;
}
.center {
	margin: 0 auto
}
.w20 {
	width: 20%
}
.w25 {
	width: 25%
}
.w30 {
	width: 30%
}
.w50 {
	width: 50%
}
.w70 {
	width: 70%
}
.w75 {
	width: 75%
}
.w80 {
	width: 80%
}
.w100 {
	width: 100%
}
.clear {
	clear: both
}
.opac5 {
	opacity: 0.5;
}
.e1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.e2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.relative {
	position: relative;
}
.bg-f {
	background-color: #FFFFFF;
}
.bg-f5 {
	background-color: #F5F5F5;
}
.bg-f7 {
	background-color: #F7F7F7;
}
.cf {
	color: #FFFFFF;
}
.c6 {
	color: #666666 !important;
}
.c9 {
	color: #999999;
}
.c40 {
	color: #404040 !important;
}
.c3 {
	color: #333;
}
.c29 {
	color: #292929;
}
.cred {
	color: #EB2027;
}
.btn {
	max-height: 100%;
	height: 0.4rem;
	text-align: center;
	font-weight: 700;
	white-space: nowrap;
	line-height: 0.4rem;
	padding: 0 0.08rem;
	font-size: 0.14rem;
}
.btn24 {
	max-height: 100%;
	height: 0.24rem;
	text-align: center;
	font-weight: 700;
	white-space: nowrap;
	line-height: 0.24rem;
	padding: 0 0.12rem;
}
.btn32 {
	max-height: 100%;
	height: 0.32rem;
	text-align: center;
	font-weight: 700;
	white-space: nowrap;
	line-height: 0.32rem;
	padding: 0 0.12rem;
}
.btn[disabled] {
	background-color: #666666;
}
.hide,.hidden {
	display: none;
}
.btn-light-black {
	background-color: #404040;
	color: #ffffff;
}
.btn-black {
	background-color: #000000;
	color: #ffffff;
}
.btn-white {
	background-color: #ffffff;
	color: #404040;
}
.flex {
	display: flex;
}
.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.border {
	height: 0.04rem;
    background: url(/image/common/border.png) center;
    background-size: 100% 0.04rem;
}
.line {
	width: 100%;
	height: 0.01rem;
	background: #e5e5e5;
}
.cover {
	width: 100%;
	height: 0.44rem;
	background: #F5F5F5;
	line-height: 0.44rem;
	position: fixed;
	top: 0;
	z-index: 102;
}
.cover .top-search-icon {
	position: absolute;
	top: 0;
	right: 0.12rem;
}
#scroll-top {
	position: fixed;
	bottom: -0.4rem;
	right: 0.12rem;
	z-index: 98;
	transition: bottom .25s;
	-moz-transition: bottom .25s;
	-webkit-transition: bottom .25s;
	-o-transition: bottom .25s;
}
#scroll-top.popup {
	bottom: 0.88rem;
}
#scroll-top .iconfont {
	font-size: 0.40rem;
	color: #707070;
	opacity: 0.8;
}
#pb-footbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
	border-top: 1px solid #E7E7E7;
	z-index: 101
}
#pb-footbar .tab {
	width: 20%;
	display: block;
	text-align: center;
	float: left;
	color: #5d656b;
	padding-top: 0.01rem;
	position: relative;
}
#pb-footbar .tab.active {
	font-weight: 700
}
#pb-footbar .tab .iconfont {
	font-size: 0.22rem
}
#pb-footbar .tab .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
.red-number {
	position: absolute;
	top: 0;
	left: calc(50% + 0.05rem);
	display: inline-block;
	background: #EB2027;
	color: #fff;
	font-size: 0.12rem;
	width: 0.17rem;
	height: 0.17rem;
	text-align: center;
	line-height: 0.17rem;
	border-radius: 50%;
}
/*loading modal start*/
.modal,
.m-modal {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 102;
	outline: 0;
}
.modal .dialog {
	position: absolute;
	width: calc(100% - 0.32rem);
	left: 0.16rem;
	background: #F7F7F7;
	z-index: 103;
	-webkit-transition: 0.3s -webkit-transform;
	transition: 0.3s -webkit-transform;
	transition: 0.3s transform;
	transition: 0.3s transform, 0.3s -webkit-transform;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.modal .dialog.popup {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.modal .dialog .top-close-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.modal .dialog .content {
	height: calc(100% - 0.6rem - 0.44rem);
	overflow: auto;
}
.modal .dialog .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.12rem;
}
.modal .dialog .footer .btn {
	width: 1.2rem;
}
.confirm-modal .content {
	width: 3.0rem;
	height: 1.6rem;
	position: fixed;
	left: calc(50% - 1.5rem);
	top: calc(50% - 0.8rem);
	background: #fff;
	z-index: 103;
	padding: 0.24rem 0 0.5rem 0;
}
.confirm-modal .content .footer {
	border-top: 0.01rem solid #ccc;
	width: 100%;
	height: 0.5rem;
	position: absolute;
	bottom: 0;
	padding-top: 0.09rem;
}
.confirm-modal .content .top-close-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.mask {
	z-index: 102;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(34,34,34,.2);
}
.loading-block {
	font-size: 0;
	text-align: center;
	position: absolute;
	top: calc(50% - 0.06rem);
	left: calc(50% - 0.26rem);
}
.page-loading-block {
	font-size: 0;
	text-align: center;
	margin-bottom: 0.06rem;
}
.page-loading-block>div:nth-child(1),
.loading-block>div:nth-child(1) {
	-webkit-animation-delay: -.2s;
	animation-delay: -.2s
}
.page-loading-block>div:nth-child(2),
.loading-block>div:nth-child(2) {
	-webkit-animation-delay: -.1s;
	animation-delay: -.1s
}
.page-loading-block>div:nth-child(3),
.loading-block>div:nth-child(3) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	margin-right: 0;
}
@-webkit-keyframes loading {
	0%,100%,60% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
	30% {
		-webkit-transform: scale(.01);
		transform: scale(.01);
		opacity: .1
	}
}
@keyframes loading {
	0%,100%,60% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
	30% {
		-webkit-transform: scale(.01);
		transform: scale(.01);
		opacity: .1
	}
}
.loading-block>div {
	background-color: #222;
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.08rem;
	vertical-align: middle;
	-webkit-animation: loading 1s ease infinite;
	animation: loading 1s ease infinite
}
.page-loading-block>div {
	background-color: #222;
	width: 0.10rem;
	height: 0.10rem;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.08rem;
	vertical-align: middle;
	-webkit-animation: loading 1s ease infinite;
	animation: loading 1s ease infinite
}
.m-modal .dialog {
	width: 100%;
	height: 85%;
	position: absolute;
	bottom: 0;
	background: #fff;
	-webkit-transition: 0.3s -webkit-transform;
	transition: 0.3s -webkit-transform;
	transition: 0.3s transform;
	transition: 0.3s transform, 0.3s -webkit-transform;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	border-radius: 0.1rem 0.1rem 0 0;
	z-index: 103;
}
.m-modal .dialog.popup {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.m-modal .dialog .icon-guanbi2 {
	position: absolute;
	font-size: 0.2rem;
	top: 0.08rem;
	right: 0.12rem;
	color: #999999;
}
.m-modal .dialog .dialog-title {
	line-height: 0.4rem;
	font-size: 0.16rem;
	text-align: center;
	font-weight: 600;
}
.m-modal .dialog .content {
	height: calc(100% - 0.4rem);
	overflow-y: auto;
}
.m-modal .dialog .contentfill {
	height: calc(100% - 0.5rem);
	padding-bottom: 0.5rem;
	overflow-y: auto;
}
.m-modal .dialog-footer {
	width: calc(100% - 0.24rem);
	height: 0.5rem;
	position: absolute;
	bottom: 0;
}
.loading .mask {
	opacity: 0.2;
}
/*loading modal end*/
/*tips*/
#message-tips {
	padding: 0.24rem 0.3rem 0.24rem 0.16rem;
	position: fixed;
	top: 0.16rem;
	left: 0.16rem;
	color: #fff;
	border-radius: 0.08rem;
	width: calc(100% - 0.32rem);
	z-index: 999;
}
#message-tips.error {
	background-color: #FF898A;
}
#message-tips.success {
	background-color: #74CAC9;
}
#message-tips .icon-content {
	width: 0.4rem;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 0.28rem;
}
#message-tips .text-content {
	width: calc(100% - 0.4rem);
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 0.14rem;
}
#message-tips .icon-guanbi1 {
	font-size: 0.16rem;
	position: absolute;
	top: 0.12rem;
	right: 0.12rem;
	font-weight: 600;
}
.list-title .tcell {
	width: 0.8rem;
	height: 100%;
}
.list-title .title {
	width: calc(100% - 1.6rem);
	font-size: 0.16rem;
	text-align: center;
	padding: 0 !important;
	border: none !important;
}
.list-title .line {
	width: 100%;
	height: 0.02rem;
	background: #EEEEEE;
	display: inline-block;
}
.error-tips {
	background: #EB2027;
	color: #fff;
	font-weight: 700;
	padding: 0.02rem 0.12rem;
	position: absolute;
	top: 0.4rem;
}
.error-tips .triangle {
	display: block;
	width: 0;
	height: 0;
	border-left: 0.07rem solid transparent;
	border-right: 0.07rem solid transparent;
	border-bottom: 0.07rem solid #EB2027;
	position: absolute;
	top: -0.07rem;
}@font-face{font-family:"iconfont";src:url('/font/iconfont.eot');src:url('/font/iconfont.eot#iefix') format('embedded-opentype'),url('/font/iconfont.woff') format('woff'),url('/font/iconfont.ttf') format('truetype'),url('/font/iconfont.svg#iconfont') format('svg')}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont.f600 {
	font-weight: 600;
}

.icon-danxuanfill:before {
	content: "\e71e";
}

.icon-danxuan:before {
	content: "\e71f";
}

.icon-fangxingweixuanzhong:before {
	content: "\e720";
}

.icon-fangxingxuanzhongfill:before {
	content: "\e721";
}

.icon-fangxingxuanzhong:before {
	content: "\e722";
}

.icon-guanbi1:before {
	content: "\e723";
}

.icon-guanbi2fill:before {
	content: "\e724";
}

.icon-guanbi2:before {
	content: "\e725";
}

.icon-jiahao:before {
	content: "\e726";
}

.icon-jiahao1:before {
	content: "\e727";
}

.icon-jiahao2fill:before {
	content: "\e728";
}

.icon-jianhao:before {
	content: "\e729";
}

.icon-tishifill:before {
	content: "\e72a";
}

.icon-tishi:before {
	content: "\e72b";
}

.icon-wenhaofill:before {
	content: "\e72c";
}

.icon-wenhao:before {
	content: "\e72d";
}

.icon-xuanze:before {
	content: "\e72e";
}

.icon-yuanxingweixuanzhong:before {
	content: "\e72f";
}

.icon-yuanxingxuanzhongfill:before {
	content: "\e730";
}

.icon-yuanxingxuanzhong:before {
	content: "\e731";
}

.icon-biaoxingfill:before {
	content: "\e732";
}

.icon-biaoxing:before {
	content: "\e733";
}

.icon-chexiao:before {
	content: "\e734";
}

.icon-dianpufill:before {
	content: "\e735";
}

.icon-dianpu:before {
	content: "\e736";
}

.icon-dingdan:before {
	content: "\e737";
}

.icon-fankui:before {
	content: "\e738";
}

.icon-fenxiang:before {
	content: "\e739";
}

.icon-gengduo:before {
	content: "\e73a";
}

.icon-gonglve:before {
	content: "\e73b";
}

.icon-gouwuchefill:before {
	content: "\e73c";
}

.icon-gouwuche:before {
	content: "\e73d";
}

.icon-gouwudai:before {
	content: "\e73e";
}

.icon-qiapianxingshi:before {
	content: "\e73f";
}

.icon-kefufill:before {
	content: "\e740";
}

.icon-kefu:before {
	content: "\e741";
}

.icon-liebiaoxingshi:before {
	content: "\e742";
}

.icon-liuyanfill:before {
	content: "\e743";
}

.icon-liuyan:before {
	content: "\e744";
}

.icon-pengyoufill:before {
	content: "\e745";
}

.icon-pengyou:before {
	content: "\e746";
}

.icon-qingchu:before {
	content: "\e747";
}

.icon-quan:before {
	content: "\e748";
}

.icon-saoma:before {
	content: "\e749";
}

.icon-shaixuan:before {
	content: "\e74a";
}

.icon-shanchu:before {
	content: "\e74b";
}

.icon-shezhi:before {
	content: "\e74c";
}

.icon-shenfen:before {
	content: "\e74d";
}

.icon-shizhongfill:before {
	content: "\e74e";
}

.icon-shizhong:before {
	content: "\e74f";
}

.icon-shouyefill:before {
	content: "\e750";
}

.icon-shouye:before {
	content: "\e751";
}

.icon-sousuo:before {
	content: "\e752";
}

.icon-sousuoleimufill:before {
	content: "\e753";
}

.icon-sousuoleimu:before {
	content: "\e754";
}

.icon-tongzhifill:before {
	content: "\e758";
}

.icon-tongzhi:before {
	content: "\e759";
}

.icon-tuikuan:before {
	content: "\e75a";
}

.icon-wodefill:before {
	content: "\e75d";
}

.icon-wode:before {
	content: "\e75e";
}

.icon-wuliu:before {
	content: "\e75f";
}

.icon-xihuanfill:before {
	content: "\e760";
}

.icon-xihuan:before {
	content: "\e761";
}

.icon-xinxifill:before {
	content: "\e762";
}

.icon-xinxi:before {
	content: "\e763";
}

.icon-youhuiquan:before {
	content: "\e764";
}

.icon-yuyan:before {
	content: "\e765";
}

.icon-zhengli:before {
	content: "\e766";
}

.icon-zuji:before {
	content: "\e767";
}

.icon-zuobiaofill:before {
	content: "\e768";
}

.icon-zuobiao:before {
	content: "\e769";
}

.icon-dibu:before {
	content: "\e76a";
}

.icon-dingbujinzhi:before {
	content: "\e76b";
}

.icon-dingbu:before {
	content: "\e76c";
}

.icon-xiangshang1:before {
	content: "\e76d";
}

.icon-xiangshang2:before {
	content: "\e76e";
}

.icon-xiangshang3:before {
	content: "\e76f";
}

.icon-xiangshang5:before {
	content: "\e770";
}

.icon-xiangxia1:before {
	content: "\e771";
}

.icon-xiangxia2:before {
	content: "\e772";
}

.icon-xiangxia3:before {
	content: "\e773";
}

.icon-xiangxia5:before {
	content: "\e774";
}

.icon-xiangyou1:before {
	content: "\e775";
}

.icon-xiangyou2:before {
	content: "\e776";
}

.icon-xiangyou3fill:before {
	content: "\e777";
}

.icon-xiangyou3:before {
	content: "\e778";
}

.icon-xiangzuo1:before {
	content: "\e779";
}

.icon-xiangzuo2:before {
	content: "\e77a";
}

.icon-xiangji1fill:before {
	content: "\e77e";
}

.icon-xiangji1:before {
	content: "\e77f";
}

.icon-xiangji2:before {
	content: "\e780";
}

.icon-jiazai:before {
	content: "\e781";
}

.icon-shuaxin:before {
	content: "\e782";
}

.icon-hongbao:before {
	content: "\e784";
}

.icon-xinyongqia:before {
	content: "\e785";
}

.icon-yonghufill:before {
	content: "\e787";
}

.icon-yonghu:before {
	content: "\e788";
}

.icon-salefill:before {
	content: "\e78a";
}

.icon-sale:before {
	content: "\e78b";
}

.icon-zengsong:before {
	content: "\e78c";
}

.icon-leimu:before {
	content: "\e78e";
}

.icon-bangzhuzhongxin:before {
	content: "\e78f";
}

.icon-caidan:before {
	content: "\e790";
}

.icon-zantongfill:before {
	content: "\e793";
}

.icon-zantong:before {
	content: "\e794";
}

.icon-xiangshang4:before {
	content: "\e795";
}

.icon-xiangxia4:before {
	content: "\e796";
}

.icon-dianhua:before {
	content: "\e797";
}

.icon-duozhongzhifu:before {
	content: "\e7ac";
}

.icon-pinpai:before {
	content: "\e7b8";
}@charset 'utf-8';
@font-face {
	font-family:'Open Sans';src:url('/font/OpenSans.ttf');src:url('/font/OpenSans.eot#iefix') format('embedded-opentype'),url('/font/OpenSans.woff') format('woff'),url('/font/OpenSans.ttf') format('truetype'),url('/font/OpenSans.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-semiBold';src:url('/font/OpenSans-SemiBold.ttf');src:url('/font/OpenSans-SemiBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-SemiBold.woff') format('woff'),url('/font/OpenSans-SemiBold.ttf') format('truetype'),url('/font/OpenSans-SemiBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-extraBold';src:url('/font/OpenSans-ExtraBold.ttf');src:url('/font/OpenSans-ExtraBold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-ExtraBold.woff') format('woff'),url('/font/OpenSans-ExtraBold.ttf') format('truetype'),url('/font/OpenSans-ExtraBold.svg#iconfont') format('svg')
}
@font-face {
	font-family:'Open Sans-Bold';src:url('/font/OpenSans-Bold.ttf');src:url('/font/OpenSans-Bold.eot#iefix') format('embedded-opentype'),url('/font/OpenSans-Bold.woff') format('woff'),url('/font/OpenSans-Bold.ttf') format('truetype'),url('/font/OpenSans-Bold.svg#iconfont') format('svg')
}
.f400 {
	font-family: 'Open Sans'
}
.f600 {
	font-family: 'Open Sans-semiBold'
}
.f700 {
	font-family: 'Open Sans-Bold'
}
.f800 {
	font-family: 'Open Sans-extraBold'
}
.f0 {
	font-size: 0;
}
.f11 {
	font-size: .11rem
}
.f12 {
	font-size: .12rem
}
.f14 {
	font-size: .14rem
}
.f15 {
	font-size: .15rem
}
.f16 {
	font-size: .16rem
}
.f18 {
	font-size: .18rem
}
.f20 {
	font-size: .20rem
}
.f22 {
	font-size: .22rem
}
.f24 {
	font-size: .24rem
}
.f26 {
	font-size: .26rem
}
.f28 {
	font-size: .28rem
}
.f30 {
	font-size: .30rem
}
.f32 {
	font-size: .32rem
}.mt0 {
	margin-top: 0 !important
}
.mt2 {
	margin-top: .02rem
}
.mt4 {
	margin-top: .04rem
}
.mt6 {
	margin-top: .06rem
}
.mt8 {
	margin-top: .08rem
}
.mt10 {
	margin-top: .10rem
}
.mt12 {
	margin-top: .12rem
}
.mt14 {
	margin-top: .14rem
}
.mt16 {
	margin-top: .16rem
}
.mt18 {
	margin-top: .18rem
}
.mt20 {
	margin-top: .20rem
}
.mt22 {
	margin-top: .22rem
}
.mt24 {
	margin-top: .24rem
}
.mt26 {
	margin-top: .26rem
}
.mt28 {
	margin-top: .28rem
}
.mt30 {
	margin-top: .30rem
}
.mt32 {
	margin-top: .32rem
}
.ml2 {
	margin-left: .02rem
}
.ml4 {
	margin-left: .04rem
}
.ml6 {
	margin-left: .06rem
}
.ml8 {
	margin-left: .08rem
}
.ml10 {
	margin-left: .10rem
}
.ml12 {
	margin-left: .12rem
}
.ml14 {
	margin-left: .14rem
}
.ml16 {
	margin-left: .16rem
}
.ml18 {
	margin-left: .18rem
}
.ml20 {
	margin-left: .20rem
}
.ml22 {
	margin-left: .22rem
}
.ml24 {
	margin-left: .24rem
}
.ml26 {
	margin-left: .26rem
}
.ml28 {
	margin-left: .28rem
}
.ml30 {
	margin-left: .30rem
}
.ml32 {
	margin-left: .32rem
}
.mb12 {
	margin-bottom: 0.12rem;
}
.pb2 {
	padding-bottom: .02rem
}
.pb4 {
	padding-bottom: .04rem
}
.pb6 {
	padding-bottom: .06rem
}
.pb8 {
	padding-bottom: .08rem
}
.pb10 {
	padding-bottom: .10rem
}
.pb12 {
	padding-bottom: .12rem
}
.pb14 {
	padding-bottom: .14rem
}
.pb16 {
	padding-bottom: .16rem
}
.pb18 {
	padding-bottom: .18rem
}
.pb20 {
	padding-bottom: .20rem
}
.pb22 {
	padding-bottom: .22rem
}
.pb24 {
	padding-bottom: .24rem
}
.pb26 {
	padding-bottom: .26rem
}
.pb28 {
	padding-bottom: .28rem
}
.pb30 {
	padding-bottom: .30rem
}
.pb32 {
	padding-bottom: .32rem
}
.pl2 {
	padding-left: .02rem
}
.pl4 {
	padding-left: .04rem
}
.pl6 {
	padding-left: .06rem
}
.pl8 {
	padding-left: .08rem
}
.pl10 {
	padding-left: .10rem
}
.pl12 {
	padding-left: .12rem
}
.pl14 {
	padding-left: .14rem
}
.pl16 {
	padding-left: .16rem
}
.pl18 {
	padding-left: .18rem
}
.pl20 {
	padding-left: .20rem
}
.pl22 {
	padding-left: .22rem
}
.pl24 {
	padding-left: .24rem
}
.pl26 {
	padding-left: .26rem
}
.pl28 {
	padding-left: .28rem
}
.pl30 {
	padding-left: .30rem
}
.pl32 {
	padding-left: .32rem
}
.pr4 {
	padding-right: 0.04rem;
}
.pr10 {
	padding-right: 0.10rem;
}
.pr12 {
	padding-right: 0.12rem;
}
.p20 {
	padding: 0.2rem;
}
.p22 {
	padding: 0.22rem;
}