#product-page {
	padding-bottom: 0.6rem;
}
#product-page .product-image {
	overflow: hidden;
	position: relative;
}
#product-page .product-image ul {
	white-space: nowrap;
	position: relative;
	font-size: 0;
	width: 100%;
}
#product-page .product-image li {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
#product-page .product-image li img {
	width: 100%;
}
#product-page .product-image li a {
	display: block;
	width: 100%;
	text-align: center;
}
#product-page .pop-content {
	position: absolute;
	width: 100%;
	z-index: 100;
	left: 0px;
	bottom: 0px;
	text-align: center;
}
#product-page .pop-content li {
	display: inline-block;
	height: 0.08rem;
	width: 0.08rem;
	border-radius: 100%;
	background-color: #999999;
	margin: 0.1rem 0.02rem;
	opacity: 0.5;
	transition-duration: 300ms;
}
#product-page .pop-content li.active {
	background-color: #000;
	opacity: 0.8;
}
#product-page .navi-bar {
	position: absolute;
	top: 0.12rem;
}
#product-page .navi-bar a {
	width: 0.34rem;
	height: 0.34rem;
	line-height: 0.34rem;
	display: inline-block;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	font-size: 0.20rem;
	color: #ffffff;
	position: relative;
}
#product-page .product-image .like-block {
	position: absolute;
	right: 0.12rem;
	bottom: 0.1rem;
	width: 0.34rem;
	height: 0.34rem;
	border-radius: 50%;
	font-size: 0.20rem;
	color: #404040;
	z-index: 101;
}
#product-page .name-and-price {
	padding: 0.12rem;
	background: #fff;
}
#product-page .product-name {
	font-size: 0.15rem;
	line-height: 0.2rem;
	font-weight: 600;
}
.price {
	font-size: 0.18rem;
	font-weight: 600;
}
.original_price {
	font-size: 0.14rem;
	text-decoration: line-through;
	color: #666666;
	margin-left: 0.12rem;
}
#product-page .cart-bottom {
	position: fixed;
	bottom: 0;
	height: 0.5rem;
	background: #ffffff;
	width: 100%;
	z-index: 99;
	padding: 0.05rem 0.12rem;
}
#product-page .cart-bottom .right .btn {
	width: 1.1rem;
	float: left;
}
.btn.add-to-cart {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}
.btn.checkout-btn {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}
#product-page .cart-bottom .left .tab {
	width: 0.5rem;
	display: block;
	text-align: center;
	float: left;
	color: #5d656b;
	padding-top: 0.01rem;
	background: #fff;
}
#product-page .cart-bottom .left .tab .iconfont{
	font-size: 0.22rem;
}
#product-page .attr-select{
	padding-top: 0.08rem;
	padding-bottom: 0.08rem;
}
#product-page .attr-select li {
	height: 0.20rem;
	line-height: 0.20rem;
	position: relative;
}
#product-page #sku-select {
	height: 0.4rem;
	line-height: 0.4rem;
}
#product-page #description {
	margin-top: 0.08rem;
}
#product-page .attr-select li .title {
	width: 0.5rem;
	color: #999999;
	float: left;
}
#product-page .attr-select li .text {
	width: calc(100% - 0.7rem);
	float: left;
}
#product-page .attr-select li .iconfont {
	position: absolute;
	font-size: 0.18rem;
	top: 0;
	right: 0;
	color: #cccccc;
}
.product-param-list .item {
	padding: 0.08rem 0;
}
.product-param-list .param-name {
	width: 20%;
	float: left;
	color: #999999;
	font-weight: 500;
}
.product-param-list .param-value {
	padding-left: 0.12rem;
	width: 80%;
	float: left;
}
#sku-select-modal .sku-image {
	width: 1rem;
	height: 1rem;
}
#sku-select-modal .sku-pro-info {
	width: calc(100% - 1rem);
	vertical-align: bottom;
	padding-left: 0.12rem;
	text-align: left;
	font-size: 0.12rem;
}
#sku-select-modal .sku-pro-info p {
	margin-top: 0.04rem;
}
#sku-select-modal .sku-attr-list .title {
	font-size: 0.14rem;
	font-weight: 700;
}
#sku-select-modal .sku-attr-list .item {
	padding: 0.12rem 0 0.12rem 0;
	border-top: 0.01rem solid #ccc;
	position: relative;
}
#sku-select-modal .sku-attr-list .item li {
	float: left;
	border: 0.02rem solid #ffff;
	margin-bottom: 0.08rem;
	margin-right: 0.08rem;
}
#sku-select-modal .sku-attr-list .item li.active {
	border-color: #404040;
}
#sku-select-modal .sku-attr-list .item .item-text.active {
	background: #404040;
	color: #fff;
}
#sku-select-modal .sku-attr-list .item li.disabled {
	opacity: 0.5;
	border-style: dotted;
}
#sku-select-modal .sku-attr-list .item .item-image {
	padding: 0.03rem;
	overflow: hidden;
	border-radius: 50%;
}
#sku-select-modal .sku-attr-list .item .attv-image {
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 50%;
	font-size: 0;
	overflow: hidden;
}
#sku-select-modal .sku-attr-list .item .item-text {
	height: 0.3rem;
	line-height: 0.26rem;
	padding: 0 0.16rem;
	border-color: #999999;
	font-weight: 700;
}
#sku-select-modal .stock-content .title {
	line-height: 0.32rem;
}
#sku-select-modal .quantity button {
	width: 0.32rem;
	height: 0.32rem;
	float: right;
	border: 0.02rem solid #707070;
}
#sku-select-modal .quantity button.disabled {
	border-color: #999999;
}
#sku-select-modal .quantity .minus {
	border-top-left-radius: 0.08rem;
	border-bottom-left-radius: 0.08rem;
	border-right: none;
}
#sku-select-modal .quantity .plus {
	border-top-right-radius: 0.08rem;
	border-bottom-right-radius: 0.08rem;
	border-left: none;
}
#sku-select-modal .quantity .num {
	width: 0.48rem;
	height: 0.32rem;
	text-align: center;
	float: right;
	padding: 0 0.08rem;
	background: #efefef;
	border: 0.02rem solid #707070;
}
.product-introduce .introduce-title .tcell {
	width: 1.2rem;
	height: 100%;
}
.product-introduce .introduce-title .title {
	width: calc(100% - 2.4rem);
	font-size: 0.14rem;
	text-align: center;
}
.product-introduce .introduce-title .line {
	width: 100%;
	height: 0.02rem;
	background: #EEEEEE;
	display: inline-block;
}
.product-introduce .introduce-image  {
	padding: 0.10rem 0;
	text-align: center;
}
.product-introduce .introduce-image p {
	font-size: 0;
}
.product-introduce .introduce-image img {
	width: 100%;
}