#resetpassword-page .title {
	font-size: 0.16rem;
	text-align: center;
	padding: 0.32rem 0;
	border-bottom: 0.01rem solid #E5E5E5;
}
#resetpassword-page .content {
	padding: 0.12rem 0.24rem 0.50rem 0.24rem;
}
#resetpassword-page .content .tips {
	font-size: 0.14rem;
	font-style: italic;
	text-align: center;
}
#resetpassword-page .content {
	margin-top: 0.32rem;
	padding: 0.32rem 0.24rem;
	background: #FFFFFF;
}
#resetpassword-page .content .input {
	height: 0.4rem;
	padding: 0 0.16rem;
	background: #F7F7F7;
	border: 0.02rem solid #F7F7F7;
}
#resetpassword-page .content .btn {
	padding: 0 0.16rem;
}
#resetpassword-page .content .input:focus {
	border-color: #000000;
}
#resetpassword-page .error .input {
	border-color: #EB2027;
}
#resetpassword-page .error-msg {
	font-weight: 700;
	color: #EB2027;
	margin-top: 0.02rem;
}