.product-list {
	padding: 0 0.05rem;
}
.product-list .title {
	padding: 0 0.07rem;
	margin-top: 0.2rem;
	font-size: 0.16rem;
	font-weight: 600;
}
.product-list li {
	float: left;
	width: 50%;
	margin-top: 0.1rem;
	padding: 0 0.05rem;
	position: relative;
}
.product-list li a {
	display: block;
	background: #fff;
	border-radius: 0.06rem;
	overflow: hidden;
}
.product-list .img {
	display: table-cell;
	width: 100%;
	height: calc((100vw - 0.3rem)/2);
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	position: relative;
}
.product-list .img img {
	width: 100%;
}
.product-list .name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow:hidden;
	-webkit-box-orient: vertical;
	margin-top: 0.08rem;
	font-size: 0.13rem;
	min-height: 0.36rem;
}
.product-list .original_price {
	margin-left: 0.04rem;
	color: #666666;
	text-decoration: line-through;
}
.product-list .like-block {
	position: absolute;
	right: 0.05rem;
	bottom: 0.05rem;
	width: 0.34rem;
	height: 0.34rem;
	border-radius: 50%;
	font-size: 0.20rem;
	color: #404040;
	z-index: 101;
}
.widget-page-bar {
	font-size: 0;
	padding: 0.10rem;
	text-align: center;
}
.widget-page-bar .arrow-li {
	display: inline-block;
	font-size: 0;
	width: 0.36rem;
	height: 0.36rem;
	text-align: center;
	margin-right: 0.095rem;
	background-color: #ddd;
	border-radius: 0.03rem;
	overflow: hidden;
}
.widget-page-bar .arrow-li.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.widget-page-bar .arrow-li:last-child {
	margin-right: 0;
}
.widget-page-bar .arrow-li.active a {
	background: #000000;
	color: #ffffff;
}
.widget-page-bar .arrow-li a {
	display: table-cell;
	width: 0.36rem;
	height: 0.36rem;
	vertical-align: middle;
	text-align: center;
	font-size: 0.16rem;
}
.widget-page-bar .arrow-li .iconfont {
	font-size: 0.2rem;
}