.mt1{margin-top:1px}
.mt2{margin-top:2px}
.mt4{margin-top:4px}
.mt6{margin-top:6px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt12{margin-top:12px}
.mt14{margin-top:14px}
.mt16{margin-top:16px}
.mt18{margin-top:18px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.ml1{margin-left:1px}
.ml2{margin-left:2px}
.ml4{margin-left:4px}
.ml6{margin-left:6px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml12{margin-left:12px}
.ml14{margin-left:14px}
.ml16{margin-left:16px}
.ml18{margin-left:18px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.mr20{margin-right:20px}
.p0{padding:0 !important}
.pt1{padding-top:1px}
.pt2{padding-top:2px}
.pt4{padding-top:4px}
.pt6{padding-top:6px}
.pt8{padding-top:8px}
.pt10{padding-top:10px}
.pt12{padding-top:12px}
.pt14{padding-top:14px}
.pt16{padding-top:16px}
.pt18{padding-top:18px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}
.pl1{padding-left:1px}
.pl2{padding-left:2px}
.pl4{padding-left:4px}
.pl6{padding-left:6px}
.pl8{padding-left:8px}
.pl10{padding-left:10px}
.pl12{padding-left:12px}
.pl14{padding-left:14px}
.pl16{padding-left:16px}
.pl18{padding-left:18px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
.pr10{padding-right:10px}