
user  www;
worker_processes  4;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    use epoll;
    worker_connections 65535;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr [$time_local] "$request" $status "$http_referer" "$http_user_agent" "$http_x_forwarded_for"';

    access_log  logs/access.log  main;

    #sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    gzip  on;

    server {
        listen 80;
        server_name localhost;
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods '*';

        location ~ \.php$ {
            root /data/shop;
            fastcgi_pass   127.0.0.1:9000; 
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name; 
            include        fastcgi_params;
        }

        location / {
            rewrite ^/(.*)$ /index.php?/$1 last;
            break;
        }
    }

    server {
        listen 80;
        server_name newsme.cf shalight.ml;
        return 307 https://$server_name$request_uri;
    }

    server {
        listen 80;
        server_name lmrshop.ml;
        return 307 https://$server_name$request_uri;
    }

    server {
        listen 443 ssl http2;
        server_name lmrshop.ml;
        client_max_body_size 20m;
        ssl_certificate /ssl/$server_name/server.crt;
        ssl_certificate_key /ssl/$server_name/server.key;
        ssl_protocols SSLv3 SSLv2 TLSv1 TLSv1.1 TLSv1.2;
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods '*';
        access_log   on;

        location /socket.io/ {
            proxy_pass http://127.0.0.1:12008/;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header X-real-ip $remote_addr;
            proxy_set_header X-Forwarded-For $remote_addr;
        }

        location ~* \.(js|css|ico|jpg|png|jpeg|eot|svg|ttf|woff|woff2)$ {
            expires 15d;
            set $root template/$template;
            if ($request_uri ~ (/product|introduce|avatar|banner|category/)) {
                set $root storage;
            }
            root /data/shop/template/admin;
        }

        location ~ \.php$ {
            root D:/www/shop;
            fastcgi_pass   127.0.0.1:9001; 
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name; 
            include        fastcgi_params;
        }

        location / {
            rewrite ^/(.*)$ /index.php?/$1 last;
            break;
        }

        location = /50x.html {
            root   html;
        }
    }

    server {
        listen 443 ssl http2;
        server_name newsme.cf shalight.ml;
        client_max_body_size 20m;
        ssl_certificate /ssl/$server_name/server.crt;
        ssl_certificate_key /ssl/$server_name/server.key;
        ssl_protocols SSLv3 SSLv2 TLSv1 TLSv1.1 TLSv1.2;
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods '*';
        access_log   on;
        set $root_path /data/shop;
        set $template '';
        if ($host = 'newsme.cf') {
            set $template 'newsme';
        }
        if ($host = 'shalight.ml') {
            set $template 'shalight';
        }

        location = / {
            rewrite ^/(.*)$ /index.html?/$1 last;
            break;
        }

        location ~* \.(html)$ {
            set $driver 'computer';
            if ($http_user_agent ~* (android|phone|mobile|iphone|ipod|ipad|mobi|tablet|touch|aarch64|kfapwi)) {
                set $driver 'mobile';
            }
            set $language 'en';
            if ($cookie_lan != '') {
                set $language $cookie_lan;
            }
            root $root_path/template/$template/cache/$driver/$language;
            if (!-e $request_filename) {
                rewrite ^/(.*)$ /index.php?/$1 last;
                break;
            }
            expires 3d;
        }

        location /socket.io/ {
            proxy_pass http://127.0.0.1:12008/;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header X-real-ip $remote_addr;
            proxy_set_header X-Forwarded-For $remote_addr;
        }

        location /.well-known {
            root $root_path/.well-known;
        }

        location ~* \.(xml)$ {
            root $root_path/template/$template/sitemap;
        }

        location ~* \.(js|css|ico|jpg|png|jpeg|eot|svg|ttf|woff|woff2)$ {
            expires 15d;
            set $root template/$template;
            if ($request_uri ~ (/product|introduce|avatar|banner|category/)) {
                set $root storage;
            }
            root $root_path/$root;
        }

        location ~ \.php$ {
            root /data/shop;
            fastcgi_pass   127.0.0.1:9000; 
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name; 
            include        fastcgi_params;
        }

        location / {
            rewrite ^/(.*)$ /index.php?/$1 last;
            break;
        }

        location = /50x.html {
            root   html;
        }
    }


    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    #
    #server {
    #    listen       443 ssl;
    #    server_name  localhost;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}

}