server {
    listen 80;
    server_name newsme.cf lmrshop.ml shalight.ml;
    rewrite ^(.*)$ https://${server_name}$1 permanent; 
}

server {
    listen 443 ssl http2;
    server_name newsme.cf lmrshop.ml shalight.ml;
    client_max_body_size 20m;
    ssl_certificate /ssl/$server_name/server.crt;
    ssl_certificate_key /ssl/$server_name/server.key;
    ssl_protocols SSLv3 SSLv2 TLSv1 TLSv1.1 TLSv1.2;
    add_header Access-Control-Allow-Origin *;
    add_header Access-Control-Allow-Methods '*';
    access_log   on;

    location /socket.io/ {
        proxy_pass http://127.0.0.1:12008/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header X-real-ip $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location /.well-known {
        root /data/shop/.well-known;
    }

    location /storage {
        root /data/shop/storage;
    }

    location ~* \.(js|css|ico|jpg|png|jpeg|eot|svg|ttf|woff|woff2)$ {
        if ($server_name = 'lmrshop.ml') {
            root /data/shop/template/admin;
            break;
        }
        if ($server_name = 'shalight.ml') {
            root /data/shop/template/shalight;
            break;
        }
        root /data/shop/template/newsme;
    }

    location ~ \.php$ {
        root /data/shop;
        fastcgi_pass   127.0.0.1:9000; 
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name; 
        include        fastcgi_params;
    }

    location / {
        rewrite ^/(.*)$ /index.php?/$1 last;
        break;
    }

    location = /50x.html {
        root   html;
    }
}