server {
    listen 443 ssl http2;
    server_name lmr.admin.cn lmr.bag.cn;
    client_max_body_size 20m;
    ssl_certificate ssl/server.crt;
    ssl_certificate_key ssl/server.key;
    ssl_protocols        TLSv1 TLSv1.1 TLSv1.2;
    add_header Access-Control-Allow-Origin *;
    add_header Access-Control-Allow-Methods 'GET, POST';

    location ~* \.(js|css|ico|jpg|png|jpeg|eot|svg|ttf|woff)$ {
        set $path host;
        access_by_lua '
                local redis = require "resty.redis"
                local red = redis:new()
                red:set_timeout(1000)
                local ok = red:connect("127.0.0.1", 6379)
                if not ok then
                    ngx.exit(404)
                end
                ok = red:auth("123456")
                if not ok then
                    ngx.exit(403)
                end
                red:select(1)
                local res = red:hget("domain_config_site_template", ngx.var.host)
                if res ~= "null" then
                    ngx.var.path = res
                else
                    ngx.exit(403)
                end
            ';
        expires 15d;
        access_log   off;
        root D:/www/shop/$path;
    }

    location ~ \.php$ {
        root D:/www/shop;
        fastcgi_pass   127.0.0.1:9000; 
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name; 
        include        fastcgi_params;
    }

    location / {
        if (!-e $request_filename) {
            rewrite ^/(.*)$ /index.php?/$1 last;
            break;
        }
    }

    location = /50x.html {
        root   html;
    }
}