.form-inline .form-group {
    margin-top: 10px;
}
#spu-list .spu-item {
	width: calc((100% - 50px) / 5);
	border: 1px solid #ccc;
	max-width: 240px;
	min-width: 180px;
	border-radius: 4px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#spu-list .spu-name {
	margin: 5px 0;
	min-height: 34px;
}
#spu-list .spu-image {
	width: 100%;
	padding-bottom: 100%;
	height: 0;
	text-align: center;
	position: relative;
}
#spu-list .spu-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#spu-list .name-content {
	padding: 0 4px 4px 4px;
}