.nav-list .layer {
	padding: 12px 10px 32px 10px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.nav-list .newservice {
    position: relative;
    padding: 16px;
}
.nav-list .newnav .top{
	padding: 16px;
	background-color: #F7F9FA;
	border-radius: 12px;
	text-align: center;
	font-size: 14px;
}
.nav-list .newnav .top td {
	border-right: 1px solid #e0e0e0;
}
.nav-list .newnav .top td:last-child{
	border-right: none;
}
.newservice ul>li {
	margin-bottom: 18px;
}
.newservice ul>li:last-child {
	margin-bottom: 0;
}
.newservice ul>li .clothes-iconfont {
	font-size: 16px;
	font-weight: 600;
	margin-right: 8px;
}
.newservice ul>li .service-slash {
	height: 20px;
    overflow: hidden;
    width: 7px;
    padding: 0 8px;
}
.popular-catgory {
	padding-bottom: 12px;
}
.popular-catgory li {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/6);
    padding: 8px;
    text-align: center;
    transition: .2s ease-in-out;
}
.popular-catgory li:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.09);
    border-radius: 4px;
    transform: translateY(-4px);
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.popular-catgory li img {
	border-radius: 4px;
}
@media (max-width: 950px) {
	.popular-catgory li {
		width: calc(100%/4);
	}
}
.best-seller li {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/5);
    padding: 8px;
    transition: .2s ease-in-out;
}
.best-seller li:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.09);
    border-radius: 4px;
    transform: translateY(-4px);
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.best-seller li img {
	border-radius: 4px;
}
.best-seller li .price {
	color: #E64545;
	font-size: 16px;
	font-weight: 700;
}