.search-page .empty-info {
    padding: 168px 0;
    text-align: center;
}
.search-page .search-info {
    padding-top: 20px;
    padding-bottom: 20px;
}
.search-page #right-list {
    width: 100%;
}
.search-page #right-list .product-list li {
    width: 20%;
}